.text-center {
    text-align: center;
}

.flex-center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-full {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fulljustify {
    text-align: justify;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@mixin ghost-align() {
    text-align: center;
    white-space: nowrap;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    &:after,
    .centered {
        display: inline-block;
        vertical-align: middle;
    }
}


