$quotes-color: $blumine;
$quote-line-color: $seagull_alt;
$quote-line-size: $font-xxl;
$deco-line-left: - gutter();
$deco-line-size : 24px;
$video-line-title-size : $font-xl;
$video-line-size : $font-l;

.quotes {
    position: relative;

    &:before,
    &:after {
        color: $quotes-color;
        font-weight: bold;
    }
    &:before {
        position: absolute;
        top: 0;
        left: -8px;
        content: '‘‘';
    }

    &:after {
        content: ' ’’';
    }
}
.bg-quotes{
    background : url('../assets/img/bg/quotes.png') center center/contain no-repeat;

    &.center{
        background-position : center center;
    }
}

$close-quotes-color: $flamingo;
.close-quotes {
    &:before,
    &:after {
        color: $close-quotes-color;
    }
    &:before {
        content: '‘‘';
    }
    &:after {
        content: ' ’’';
    }
}

.deco-line {
    position: relative;

    &:before,
    &:after {
        left: 8px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 2px solid $quote-line-color;
    }
    &:after {
        content: '';
        font-size: $quote-line-size;
        color: $quote-line-color;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        width: 16px;
        background: $background-color center center no-repeat;
    }

    padding-left: 30px;

    @include mq($from: desktop) {
        padding-left: 0;

        &:before {
            left: $deco-line-left;
        }
        &:after {
            left: $deco-line-left;
        }
    }
}

.quote-line {
    p{
        font-style : italic;
        font-size : $deco-line-size;
    }

    &:after {
        background-image: url('../assets/img/icons/quotes.gif');
    }
}

.video-line {
    .title{
        font-size: $video-line-title-size;
        margin:15px 0 5px;
    }
    p{
        margin-top: 0;
        font-size: $video-line-size;
    }

    &:after {
        background-image: url('../assets/img/icons/video.gif');
    }
}

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}