@include mq($until : tablet){
    .hide-mobile{
        display: none !important;
    }
}

@include mq($from : tablet, $until : desktop){
    .hide-tablet{
        display: none !important;
    }
}

@include mq($from : desktop){
    .hide-desktop{
        display: none !important;
    }
}