$blog-header-title-color: $white;
$blog-header-subtitle-color: $seagull;
$blog-header-subtitle-size-small: $font-s;
$blog-header-subtitle-size: $font-xxs;

$blog-header-title-size: $font-huge;
$blog-header-title-size-small: $font-xxl;
$blog-header-title-size-smaller: 27px;

.blog-header {
    .container{
        padding-top : 100px;
        padding-bottom : 100px;
        position: relative;
    }
    .content {
        position : absolute;
        bottom : 20px;
        left : 20px;

        @include mq($from :tablet){
            bottom : 30px;
            left : 30px;
        }
        @include mq($from :desktop){
            position: static;
        }
    }

    .title {
        font-size: $blog-header-title-size-smaller;
        color: $blog-header-title-color;
        margin: 0;

        font-family: $oswald;

        @include mq($from: desktop) {
            font-size: $blog-header-title-size-small;
        }
        @include mq($from: desktop) {
            font-size: $blog-header-title-size;
        }
    }
    .subtitle {
        color: $blog-header-subtitle-color;
        margin: 0;
        font-size: $blog-header-subtitle-size-small;
        @include mq($from: tablet) {
            font-size: $blog-header-subtitle-size;
        }
    }

    &.single {
        .breadcrumbs {
            position: absolute;
            top: 20px;
            left: 0;
        }

        .text {
            position: absolute;
            bottom : 20px;
            left : 0;

            @include mq($from : desktop){
                bottom: 40px;
                position : static;
            }
        }
    }
}