$blog-menu-color: $hoki;
$blog-menu-size: 14px;
$blog-menu-background: $white;

$blog-list-title-size: $font-xl;
$blog-list-link-size: $font-xs;

$blog-pagination-size: $font-m;

.blog-main {
    @include susy-clearfix;
    margin-top: 40px;
}

.blog-menu {
    font-size: $blog-menu-size;
    background-color: $blog-menu-background;
    margin-bottom: 30px;

    .blog-list-element {
        padding: 15px;
        position: relative;
        display: none;

        &.active {
            display: block;

            .category{
                font-weight : bold;
            }
        }
        @include mq($from : desktop){
            &.no-category{
                display: none;
            }
        }
    }
    &.open {
        .blog-list-element {
            display: block;
        }
        .toggler{
            display: none;
        }
        .no-category{
            display: none;
        }
    }
    a {
        color: $blog-menu-color;
    }
    &.category i {
        margin-right: 10px;
        display: none;
    }
    .toggler {
        padding: 15px;
        position: absolute;
        top : 0;
        bottom : 0;
        right: 0;
        border-left: 1px solid $background-color;

        i{
            position: absolute;
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
        }
    }

    @include mq($from: desktop) {
        margin-bottom: 0;
        padding: 30px;

        .blog-list-element {
            padding: 0;
            display: block;
            margin-bottom: 20px;

            &:last-child{
                margin-bottom: 0;
            }
        }
        @include span(1 of 4);
        i {
            display: inline;
        }
        .toggler {
            display: none;
        }
    }
}

.blog-list {
    @include mq($from: desktop) {
        @include span(3 of 4 last);
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .blog-article {
        @include mq($from: tablet) {
            width: span(1 of 2);
        }
        @include mq($from: desktop) {
            width: span(1 of 3);
        }
    }
    .blog-pagination {
        margin-top: 60px;
        width: 100%;
    }
}

.blog-article {
    margin-bottom: 35px;
    width: 100%;

    img{
        width: 100%;
    }

    p {
        margin: 0;
    }

    .date {
        margin-top: 15px;
    }
    .title {
        font-size: $blog-list-title-size;
        line-height: $high-line-height;
        margin: 10px 0;
    }
    .content {
        line-height: $high-line-height;
        margin-bottom: 20px;
    }

    .article-link {
        font-size: $blog-list-link-size;
    }

    .picture{
        width: 100%;
    }

    @include mq($from : desktop){
        &.big {
            width: 100%;

            img {
                @include span(2 of 3);
            }
            .date {
                margin-top: 0;
            }

            .infos {
                @include span(1 of 3 last);
            }
        }
    }
}

.blog-pagination {
    font-size: $blog-pagination-size;

    li {
        display: inline;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
    .inactive {
        opacity: 0.5;
    }
}