$blog-single-link-background: $seagull_alt;
$blog-single-link-color: $white;
$blog-single-link-size: $font-xs;
$blog-single-content-size: $font-l;
$blog-single-paragraph-title-size: $font-xl;

.blog-single {
    @include susy-clearfix;
    margin-top: 40px;

    .back {
        font-weight: bold;
    }

    .infos {
        p {
            margin: 0;
        }
        .zone-title {
            margin: 15px 0;
        }

        @include susy-clearfix;

        @include mq($from: desktop) {
            display: flex;
            align-items: center;

            .back {
                width: span(1 of 4) + gutters(4);
                margin-top: -5px;
            }
            .summary {
                width: span(2 of 4);
            }
        }

        .round {
            background-color: $blog-single-link-background;
            color: $blog-single-link-color;
            font-size: $blog-single-link-size;
            border: 0;
        }
    }

    .content {
        margin-top: 30px;

        @include mq($from: desktop) {
            @include push(1 of 4);
            @include span(2 of 4);
        }

        .title-img {
            img {
                width: 100%;

                @include mq($from: desktop) {
                    display: block;
                    width: 140%;
                    margin: 0 -20%;
                }
            }
        }
        .wysiwyg-wrapper {
            & > *,
            img{
                max-width: 100% !important;
            }

            img {
                height : auto;
            }
        }

        .paragraph-title {
            font-size: $blog-single-paragraph-title-size;
        }

        font-size: $blog-single-content-size;
        line-height: $high-line-height;
    }
}