@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Add the correct display in IE <10.
     * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
     * Add the correct display in IE for `main`.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * Add the correct display in IE <10.
     */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
     * Add the correct display and remove excess height in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Add the correct display in IE <11, Safari <8, and Firefox <22.
     * 1. Add the correct display in IE.
     */
template,
[hidden] {
  display: none; }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox <40.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
     * Add the correct font style in Android <4.4.
     */
dfn {
  font-style: italic; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
     * Add the correct background and color in IE <10.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE <11.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1.5em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known issues:
     * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
     *   select, unless a border property is set. The default font weight on
     *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
     *   OS X.
     * - It is recommended that you do not style checkbox and radio inputs as
     *   Firefox's implementation does not respect box-sizing, padding, or width.
     * - Certain font size values applied to number inputs cause the cursor style of
     *   the decrement button to change from default to text.
     * - The search input is not fully stylable by default. In Chrome and Safari on
     *   OSX/iOS you can't control font, padding, border, or background. In Chrome
     *   and Safari on Windows you can't control border properly. It will apply
     *   border-width but will only show a border color (which cannot be controlled)
     *   for the outer 1px of that border. Applying -webkit-appearance: textfield
     *   addresses these issues without removing the benefits of search inputs (e.g.
     *   showing past searches). Safari (but not Chrome) will clip the cancel button
     *   on when it has padding (and textfield appearance).
     */
/**
     * 1. Change font properties to `inherit` in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 4. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE <11.
     * 2. Remove the padding in IE <11.
     * 3. Remove excess padding in IE 7.
     *    Known issue: excess padding remains in IE 6.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Correct the text style of placeholders in Chrome, Edge, and Safari.
     */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     * 4. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */ }

/**
     * Restore the font weight unset by a previous rule.
     */
optgroup {
  font-weight: bold; }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Oswald-300.woff2") format("woff2"), url("../fonts/Oswald-300.woff") format("woff"); }

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT-Sans-regular.woff2") format("woff2"), url("../fonts/PT-Sans-regular.woff") format("woff"); }

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PT-Sans-italic.woff2") format("woff2"), url("../fonts/PT-Sans-italic.woff") format("woff"); }

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT-Sans-700.woff2") format("woff2"), url("../fonts/PT-Sans-700.woff") format("woff"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?a9i12q");
  src: url("../fonts/icomoon.eot?a9i12q#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?a9i12q") format("truetype"), url("../fonts/icomoon.woff?a9i12q") format("woff"), url("../fonts/icomoon.svg?a9i12q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e904"; }

.icon-arrow-right:before {
  content: "\e905"; }

.icon-cross:before {
  content: "\e903"; }

.icon-eye:before {
  content: "\e901"; }

.icon-bars:before {
  content: "\e902"; }

.icon-navicon:before {
  content: "\e902"; }

.icon-reorder:before {
  content: "\e902"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-envelope-o:before {
  content: "\f003"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-linkedin-square:before {
  content: "\f08c"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-facebook-f:before {
  content: "\f09a"; }

.icon-heart-o:before {
  content: "\f08a"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-search:before {
  content: "\f002"; }

.icon-long-arrow-left:before {
  content: "\f177"; }

.icon-long-arrow-right:before {
  content: "\f178"; }

.icon-sphere:before {
  content: "\e900"; }

.text-center {
  text-align: center; }

.flex-center-v {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-center-full {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.fulljustify {
  text-align: justify; }
  .fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%; }

.quotes {
  position: relative; }
  .quotes:before, .quotes:after {
    color: #1e5d85;
    font-weight: bold; }
  .quotes:before {
    position: absolute;
    top: 0;
    left: -8px;
    content: '‘‘'; }
  .quotes:after {
    content: ' ’’'; }

.bg-quotes {
  background: url("../assets/img/bg/quotes.png") center center/contain no-repeat; }
  .bg-quotes.center {
    background-position: center center; }

.close-quotes:before, .close-quotes:after {
  color: #f06030; }

.close-quotes:before {
  content: '‘‘'; }

.close-quotes:after {
  content: ' ’’'; }

.deco-line {
  position: relative;
  padding-left: 30px; }
  .deco-line:before, .deco-line:after {
    left: 8px; }
  .deco-line:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px solid #7ebce3; }
  .deco-line:after {
    content: '';
    font-size: 48px;
    color: #7ebce3;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 30px;
    width: 16px;
    background: #eeeeee center center no-repeat; }
  @media (min-width: 61.25em) {
    .deco-line {
      padding-left: 0; }
      .deco-line:before {
        left: -5.2631578947%; }
      .deco-line:after {
        left: -5.2631578947%; } }

.quote-line p {
  font-style: italic;
  font-size: 24px; }

.quote-line:after {
  background-image: url("../assets/img/icons/quotes.gif"); }

.video-line .title {
  font-size: 21px;
  margin: 15px 0 5px; }

.video-line p {
  margin-top: 0;
  font-size: 18px; }

.video-line:after {
  background-image: url("../assets/img/icons/video.gif"); }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.full-background {
  background-size: cover;
  background-position: center center; }

@media (max-width: 46.24em) {
  .hide-mobile {
    display: none !important; } }

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .hide-tablet {
    display: none !important; } }

@media (min-width: 61.25em) {
  .hide-desktop {
    display: none !important; } }

.icon-arrow-left,
.icon-arrow-right {
  font-size: 5px;
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  min-height: 100%;
  background-color: #eeeeee; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #1e5d85;
  background-color: #eeeeee;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 15px; }

@media (max-width: 46.24em) {
  .container {
    padding: 0 20px; } }

@media (min-width: 46.25em) {
  .container {
    padding: 0 30px; } }

@media (min-width: 61.25em) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }

@media (min-width: 80em) {
  .container {
    padding: 0; } }

@media (max-width: 46.24em) {
  .container.mobile-full {
    padding: 0; } }

.swiper-container {
  padding-bottom: 40px; }
  @media (min-width: 61.25em) {
    .swiper-container {
      padding-bottom: 0; } }
  .swiper-container .swiper-slide {
    height: auto; }

ul.no-style > li {
  list-style-type: none; }

.no-wrap {
  white-space: nowrap; }

.password-protection {
  margin-top: 20px;
  margin-bottom: 20px; }
  .password-protection .separate {
    margin-top: 10px; }
  @media (min-width: 61.25em) {
    .password-protection {
      margin-top: 50px;
      margin-bottom: 50px; } }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-position: inside; }

a {
  cursor: pointer;
  color: inherit; }

input,
textarea {
  border: 0;
  border-radius: 5px; }

button {
  border: 0; }
  button:hover {
    cursor: pointer; }

b, strong {
  font-weight: bold; }

img.fluid {
  max-width: 100%;
  display: block; }

.background-deco {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1; }
  .background-deco.top {
    top: 0;
    background-color: #fefefe; }
  .background-deco.mid {
    background-color: #7ebce3; }

.button-next {
  background-color: #f06030;
  padding: 10px;
  text-decoration: none; }
  .button-next.corner {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center; }
    @media (min-width: 61.25em) {
      .button-next.corner {
        width: 50px;
        height: 50px;
        line-height: 50px; } }
    .button-next.corner:hover {
      background-color: #dd4310; }

.link-simple {
  text-decoration: none; }
  .link-simple:not(.no-hover):hover {
    text-decoration: underline; }
    .link-simple:not(.no-hover):hover i {
      text-decoration: none; }
  .link-simple.round {
    padding: 1em;
    border: 2px solid rgba(30, 93, 133, 0.75);
    color: rgba(30, 93, 133, 0.75);
    font-size: 11px;
    display: inline-block; }
    .link-simple.round:hover {
      text-decoration: none; }
    .link-simple.round.icon-arrow-left, .link-simple.round.icon-arrow-right {
      font-size: 5px;
      padding: 15px 14px; }
      .link-simple.round.icon-arrow-left:hover, .link-simple.round.icon-arrow-right:hover {
        background-color: #1e5d85;
        color: #fefefe; }

.link {
  text-decoration: none;
  position: relative;
  color: #fefefe; }
  @media (min-width: 61.25em) {
    .link:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #fefefe;
      visibility: hidden;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .link:hover:after {
      visibility: visible;
      -webkit-transform: scaleX(1);
              transform: scaleX(1); } }

.rounded {
  border-radius: 50px;
  display: inline-block;
  padding: 0.8em 25px;
  text-align: left;
  position: relative; }
  @media (max-width: 46.24em) {
    .rounded.full-width {
      width: 100%;
      text-align: center; } }
  .rounded.icon {
    padding-right: 80px; }
  .rounded.icon i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 25px; }

.round {
  border-radius: 50%; }

.accent {
  background-color: #f06030;
  color: #fefefe;
  font-weight: bold; }
  .accent:hover {
    background-color: #ee4e18; }

.accent-text {
  color: #f06030; }

.section {
  margin-bottom: 80px; }

.title-back {
  font-size: 18px;
  padding: 15px 20px;
  margin: 0;
  background-color: #1e5d85;
  color: #fefefe;
  display: inline-block; }

.zone-title {
  color: #1e5d85;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  font-size: 36px; }
  @media (min-width: 46.25em) {
    .zone-title {
      font-size: 48px; } }
  .zone-title.inverse {
    background-color: #1e5d85;
    color: #fefefe; }
  .zone-title.big {
    font-size: 60px; }

.zone-subtitle {
  color: #f06030;
  margin: 0;
  font-size: 18px; }

.date {
  font-weight: bold;
  color: #7fbee5; }

.nav-wrapper {
  background-color: #fefefe; }
  .nav-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .nav-wrapper .nav {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav-wrapper .logo {
    display: none;
    padding: 25px 0; }
  .nav-wrapper a {
    color: #1e5d85; }
  @media (max-width: 61.24em) {
    .nav-wrapper .container {
      padding: 0; } }
  .nav-wrapper .link-container {
    border-bottom: 1px solid #dae5e9; }
    .nav-wrapper .link-container > .toggler-container {
      padding: 15px 10px;
      display: block;
      font-weight: bold;
      font-size: 17px;
      width: 100%;
      position: relative; }
      @media (max-width: 61.24em) {
        .nav-wrapper .link-container > .toggler-container .toggler {
          float: right;
          text-align: center;
          width: 2em; }
          .nav-wrapper .link-container > .toggler-container .toggler:before {
            content: '+'; } }
    @media (max-width: 61.24em) {
      .nav-wrapper .link-container.open .toggler:before {
        content: '-'; }
      .nav-wrapper .link-container.open .submenu {
        display: block; } }
  .nav-wrapper .submenu {
    display: none;
    top: 100%;
    z-index: 2;
    text-align: left;
    background-color: #e8e8e8;
    padding: 10px; }
    .nav-wrapper .submenu i {
      display: none; }
    .nav-wrapper .submenu > li {
      margin-bottom: 10px; }
      .nav-wrapper .submenu > li:last-child {
        margin-bottom: 0; }
    @media (min-width: 61.25em) {
      .nav-wrapper .submenu {
        padding: 30px;
        position: absolute;
        background-color: #fefefe; }
        .nav-wrapper .submenu li:hover i {
          display: inline;
          margin-right: 5px; } }
  @media (min-width: 61.25em) {
    .nav-wrapper .nav {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .nav-wrapper nav {
      text-align: right; }
    .nav-wrapper .logo {
      display: block; }
    .nav-wrapper .link-container {
      text-align: center;
      white-space: nowrap;
      margin-right: 30px;
      display: inline-block;
      position: relative;
      height: 100%;
      border-bottom: 0; }
      .nav-wrapper .link-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; }
      .nav-wrapper .link-container:after,
      .nav-wrapper .link-container .centered {
        display: inline-block;
        vertical-align: middle; }
      .nav-wrapper .link-container:last-child {
        margin-right: 0; }
      .nav-wrapper .link-container > .toggler-container {
        width: auto;
        padding: 0;
        display: inline-block; }
      .nav-wrapper .link-container:hover .submenu {
        display: block; }
      .nav-wrapper .link-container:hover:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 4px solid #f06030; } }

.mobile-menu {
  background-color: #fefefe;
  text-transform: uppercase;
  padding: 15px;
  font-weight: bold;
  font-size: 21px;
  position: relative; }
  .mobile-menu i {
    margin-right: 10px; }
  .mobile-menu .icon-cross {
    display: none; }
  .mobile-menu .search {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: #dae5e9; }
    .mobile-menu .search i {
      margin: -3px 0 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.mobile-open .mobile-menu .icon-bars {
  display: none; }

.mobile-open .mobile-menu .icon-cross {
  display: inline; }

.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dae5e9; }
  @media (min-width: 61.25em) {
    .menu-container {
      background: transparent;
      display: block;
      position: static;
      width: auto; } }

.main-wrapper {
  background-color: #eeeeee;
  position: relative;
  transition-property: left;
  transition-duration: 0.5s;
  left: 0;
  z-index: 1;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }
  @media (max-width: 61.24em) {
    body.mobile-open .main-wrapper {
      left: 300px; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.twitter {
  margin-top: 5px; }
  .twitter .twitter-slider {
    overflow: visible !important; }
  .twitter .logo {
    position: relative;
    background-color: #00b9ca;
    color: #fefefe;
    font-size: 18px; }
    .twitter .logo:before {
      font-size: 130px;
      color: #26c3d2; }
    .twitter .logo:before,
    .twitter .logo .account {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin: 0; }
    .twitter .logo .account {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: #fefefe; }
  @media (min-width: 61.25em) {
    .twitter .slide {
      width: 20%; } }
  .twitter .tweet {
    padding: 20px 20px 50px;
    background-color: #fefefe;
    color: #62819a;
    position: relative;
    /* Top */
    /* Content */
    /* Bottom */ }
    .twitter .tweet .top {
      position: relative; }
      .twitter .tweet .top p {
        margin: 0;
        line-height: 1; }
    .twitter .tweet .author .link-simple {
      color: rgba(30, 93, 133, 0.7);
      font-size: 11px; }
    .twitter .tweet .picture,
    .twitter .tweet .info {
      display: inline-block; }
    .twitter .tweet .picture {
      margin-right: 10px;
      vertical-align: top;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      height: 32px;
      width: 32px; }
    .twitter .tweet .name {
      color: #1e5d85;
      font-size: 13px; }
    .twitter .tweet .icon-twitter {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #dde6ec; }
    .twitter .tweet .content {
      line-height: 1.6; }
      .twitter .tweet .content a {
        font-weight: bold;
        color: #00b9ca;
        text-decoration: none; }
        .twitter .tweet .content a:hover {
          text-decoration: underline; }
    .twitter .tweet .bottom {
      text-align: justify;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px; }
      .twitter .tweet .bottom p {
        margin: 0; }
    .twitter .tweet .intents {
      text-align: left;
      display: inline-block; }
      .twitter .tweet .intents a {
        color: #7fbee5;
        margin-right: 10px; }
    .twitter .tweet .date {
      float: right;
      color: #1e5d85;
      display: inline-block; }

input.raw {
  background: none; }

input.no-focus:focus {
  border: none;
  outline: none; }

.breadcrumbs {
  color: #fefefe;
  font-weight: bold;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .breadcrumbs .parent {
    color: #bbdee6; }
  .breadcrumbs .crumb {
    display: inline; }
    .breadcrumbs .crumb:after {
      content: '>'; }
    .breadcrumbs .crumb:last-child:after {
      content: ''; }

.generic-push .zone-title {
  margin-bottom: 20px; }
  @media (min-width: 46.25em) {
    .generic-push .zone-title {
      margin-bottom: 40px; } }

.generic-push .generic-push-wrapper:after {
  content: " ";
  display: block;
  clear: both; }

.generic-push-item {
  background-color: #fefefe;
  position: relative; }
  @media (max-width: 46.24em) {
    .generic-push-item img {
      width: 100%; } }
  @media (min-width: 46.25em) {
    .generic-push-item {
      margin-right: 30px; } }
  @media (min-width: 61.25em) {
    .generic-push-item {
      margin-right: 0;
      margin-bottom: 30px; } }
  @media (min-width: 61.25em) {
    .generic-push-item.gallery-mode {
      width: 32.2033898305%;
      float: left; }
      .generic-push-item.gallery-mode:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .generic-push-item.gallery-mode:nth-child(3n + 2) {
        margin-left: 33.8983050847%;
        margin-right: -100%;
        clear: none; }
      .generic-push-item.gallery-mode:nth-child(3n + 3) {
        margin-left: 67.7966101695%;
        margin-right: -100%;
        clear: none; } }
  .generic-push-item .title-container {
    background-color: #eeeeee; }
  .generic-push-item .generic-push-item-container:after {
    content: " ";
    display: block;
    clear: both; }
  .generic-push-item .left img {
    display: block; }
  @media (min-width: 46.25em) {
    .generic-push-item .left img {
      max-width: 100%; } }
  .generic-push-item .right {
    padding-bottom: 40px; }
  .generic-push-item .content {
    color: #62819a;
    margin: 0;
    line-height: 1.2;
    padding: 20px 20px 0; }
  @media (min-width: 46.25em) {
    .generic-push-item .generic-push-item-container {
      position: relative; }
      .generic-push-item .generic-push-item-container .left {
        width: 50%; }
      .generic-push-item .generic-push-item-container .right {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        padding-bottom: 0; }
      .generic-push-item .generic-push-item-container .content {
        height: calc(100% - 30px); } }
  @media (min-width: 61.25em) {
    .generic-push-item .generic-push-item-container .content {
      height: calc(100% - 50px); } }

.text-container a {
  color: #f06030;
  font-weight: bold;
  text-decoration: none; }
  .text-container a:hover {
    text-decoration: underline; }

.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1e5d85;
  color: #fefefe;
  text-align: center;
  padding: 20px; }
  .message .close {
    position: absolute;
    top: 10px;
    right: 10px; }

header {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1e5d85;
  background-color: #dae5e9;
  padding: 10px; }
  header .flags {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 10px; }
    header .flags > * {
      margin-right: 10px; }
    @media (max-width: 61.24em) {
      header .flags a, header .flags img {
        width: 26px;
        height: auto; } }
  @media (min-width: 61.25em) {
    header {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      header .flags {
        margin-top: 0;
        -webkit-order: 0;
            -ms-flex-order: 0;
                order: 0; } }
  header .main-title {
    display: none;
    text-transform: uppercase;
    font-size: 11px; }
    @media (min-width: 61.25em) {
      header .main-title {
        display: block; } }
  header .links {
    font-size: 13px; }
    header .links a {
      color: #1e5d85;
      margin-right: 20px; }
  header > * {
    display: inline-block;
    margin: 0; }

.search-container {
  background-color: #1e5d85;
  color: #fefefe;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .search-container .search {
    padding: 30px; }
    .search-container .search i {
      margin-left: 10px; }
  .search-container .actions {
    margin-top: 15px; }
  @media (min-width: 61.25em) {
    .search-container .search {
      padding: 30px 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .search-container .actions {
      margin-top: 0; } }
  .search-container input {
    color: #fefefe;
    font-size: 30px;
    max-width: 100%; }
    @media (min-width: 61.25em) {
      .search-container input {
        font-size: 40px; } }

.home-slider .slide-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .home-slider .slide-container:after {
    content: " ";
    display: block;
    clear: both; }

.home-slider .subtitle {
  color: #7fbee5;
  font-size: 15px;
  margin: 0; }

.home-slider .title {
  color: #fefefe;
  font-size: 17px;
  margin: 0;
  line-height: 1.2;
  font-weight: normal; }

.home-slider .content {
  display: none;
  color: rgba(254, 254, 254, 0.8);
  font-size: 15px;
  line-height: 1.6;
  width: 49.1525423729%;
  float: left;
  margin-right: 1.6949152542%; }

.home-slider .content-container {
  padding: 0 20px; }

.home-slider .swiper-button {
  background: none;
  width: auto;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid rgba(254, 254, 254, 0.75);
  color: #fefefe; }
  @media (max-width: 61.24em) {
    .home-slider .swiper-button {
      display: none; } }

.home-slider .slide {
  background-size: cover;
  padding: 30vw 0 2em; }

@media (min-width: 46.25em) {
  .home-slider .title {
    font-size: 18px; }
  .home-slider .content-container {
    width: 50%;
    float: left; } }

@media (min-width: 61.25em) {
  .home-slider .swiper-pagination {
    display: none; }
  .home-slider .slide {
    padding: 10vw 0; }
  .home-slider .title {
    font-size: 60px; }
  .home-slider .content {
    display: block; }
  .home-slider .content-container {
    padding: 0;
    margin-left: 12.6050420168%; } }

@media (min-width: 90em) {
  .home-slider .content-container {
    margin-left: 4.2016806723%; } }

.challenging {
  color: #fefefe;
  font-size: 72px; }
  .challenging .challenging-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .challenging .zone-subtitle {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: normal; }
    @media (max-width: 46.24em) {
      .challenging .zone-subtitle {
        font-size: 15px; } }
  .challenging .stats {
    background-color: #1e5d85;
    padding: 40px 0;
    width: 100%; }
    @media (min-width: 46.25em) {
      .challenging .stats {
        width: 33.8983050847%;
        padding: 103px 0; } }
    .challenging .stats li {
      margin-bottom: 60px; }
      .challenging .stats li:last-child {
        margin-bottom: 0; }
  .challenging .number,
  .challenging .type {
    display: block;
    text-align: center;
    line-height: 1; }
  .challenging .number {
    font-family: "Oswald", Helvetica, Arial, sans-serif; }
  .challenging .type {
    margin-top: 6px;
    font-size: 18px;
    color: rgba(254, 254, 254, 0.6); }
  .challenging .map {
    display: none;
    width: 66.1016949153%;
    background-size: cover;
    background-position: center center; }
    @media (min-width: 46.25em) {
      .challenging .map {
        display: block; } }

@media (min-width: 61.25em) {
  .offers .offers-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media (min-width: 61.25em) {
  .offer {
    width: calc(100% / 3 - 45px);
    margin-right: 45px; }
    .offer:nth-child(3n+3) {
      margin-right: 0; } }

.offer .button-next {
  min-width: 35px;
  text-align: center; }

/* For background decoration */
.home-container {
  position: relative; }

/* */
.experience {
  background-color: #fefefe; }
  .experience .swiper-container {
    padding-bottom: 0; }
  .experience:after {
    content: " ";
    display: block;
    clear: both; }
  .experience .description .content {
    padding: 25px 35px 25px 0;
    color: #62819a; }
    .experience .description .content .buttons,
    .experience .description .content .content-wrapper {
      padding-left: 35px; }
  .experience .description .role {
    color: #7fbee5; }
  .experience .description .name {
    font-size: 18px;
    color: #1e5d85; }
  @media (min-width: 61.25em) {
    .experience .description {
      width: 25%;
      float: left; }
    .experience .video-container {
      width: 75%;
      float: left; } }
  .experience .zone-title {
    padding: 40px 50px; }

.pushes:after {
  content: " ";
  display: block;
  clear: both; }

.pushes .push {
  position: relative; }
  @media (min-width: 61.25em) {
    .pushes .push {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; } }
  .pushes .push img {
    width: 100%; }
  .pushes .push:last-child {
    float: right;
    margin-right: 0; }
  @media (max-width: 46.24em) {
    .pushes .push .button-next {
      display: none; } }

.coaching:after {
  content: " ";
  display: block;
  clear: both; }

.coaching .zone-title {
  margin-bottom: 15px; }

.coaching .content {
  color: #62819a;
  margin-bottom: 20px; }
  .coaching .content p {
    margin: 0 0 30px; }

.coaching .media {
  margin-bottom: 25px; }

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .coaching .content {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%;
    margin-bottom: 0; }
  .coaching .media {
    clear: both; } }

@media (min-width: 61.25em) {
  .coaching .zone-title,
  .coaching .content {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%;
    margin-bottom: 0; }
  .coaching .media {
    width: 49.1525423729%;
    float: right;
    margin-right: 0;
    margin-bottom: 0; } }

.insights {
  background-color: #fefefe;
  padding: 10px; }
  @media (min-width: 46.25em) {
    .insights {
      padding: 40px 0; } }
  @media (min-width: 61.25em) {
    .insights {
      padding: 80px 40px; } }
  .insights .zone-title {
    margin-bottom: 50px; }
  .insights .slider-container {
    position: relative; }
    .insights .slider-container:after {
      content: " ";
      display: block;
      clear: both; }
    .insights .slider-container .button {
      display: none; }
    @media (min-width: 61.25em) {
      .insights .slider-container .button {
        display: block;
        position: absolute;
        top: 50%; }
        .insights .slider-container .button.left {
          left: 0; }
        .insights .slider-container .button.right {
          right: 0;
          text-align: right; } }
  @media (max-width: 61.24em) {
    .insights .slider-insights {
      padding-bottom: 50px; } }
  @media (min-width: 61.25em) {
    .insights .swiper-pagination {
      display: none; } }
  .insights .slider-wrapper {
    margin-bottom: 0; }
    @media (min-width: 61.25em) {
      .insights .slider-wrapper {
        width: 83.0508474576%;
        float: left;
        margin-left: 8.4745762712%; } }
  .insights .button {
    width: 6.7796610169%;
    float: left; }
  .insights .insight {
    border: 1px solid #e0e0e0;
    padding: 30px;
    margin: 0; }
    .insights .insight legend {
      padding: 0 10px;
      font-weight: bold;
      color: #7fbee5; }
    .insights .insight .title {
      font-size: 21px;
      margin: 0 0 15px; }
    .insights .insight p {
      margin-top: 0; }

.cta-coach {
  background-size: cover;
  padding: 20px; }
  @media (min-width: 61.25em) {
    .cta-coach {
      padding: 40px; } }
  .cta-coach .text {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    width: 80%; }
  .cta-coach .link-container {
    text-align: right;
    width: 20%; }
    .cta-coach .link-container a {
      font-size: 30px; }
  .cta-coach .text,
  .cta-coach .link-container {
    display: inline-block; }
  .cta-coach,
  .cta-coach a {
    color: #fefefe; }
  .cta-coach p {
    margin: 0; }

footer {
  background-color: #1e5d85;
  padding: 50px; }
  footer .footer-container:after {
    content: " ";
    display: block;
    clear: both; }
  footer .link {
    color: rgba(254, 254, 254, 0.75); }
    footer .link i {
      color: #fefefe;
      display: inline-block;
      width: 15px; }
  footer .column {
    margin-bottom: 40px; }
    @media (min-width: 46.25em) {
      footer .column {
        margin-bottom: 0;
        width: 32.2033898305%;
        float: left;
        margin-right: 1.6949152542%; }
        footer .column.logo {
          width: 100%;
          float: left;
          margin-right: 1.6949152542%;
          text-align: center;
          margin-bottom: 40px; }
        footer .column.second {
          clear: left; }
        footer .column.links {
          float: right;
          margin-right: 0; } }
    @media (min-width: 61.25em) {
      footer .column {
        width: 23.7288135593%;
        float: left;
        margin-right: 1.6949152542%; }
        footer .column.logo {
          width: 23.7288135593%;
          float: left;
          margin-right: 1.6949152542%;
          text-align: left;
          margin-bottom: 0; }
        footer .column.second {
          clear: none; }
        footer .column.links {
          float: right;
          margin-right: 0; } }
  footer .title {
    font-size: 21px;
    color: #fefefe;
    margin: 0 0 5px; }
  footer li {
    line-height: 2em;
    color: rgba(254, 254, 254, 0.75); }
  footer > p {
    margin-top: 40px;
    color: rgba(254, 254, 254, 0.6);
    font-size: 11px; }

.blue-books {
  background-color: white; }
  @media (max-width: 46.24em) {
    .blue-books .container {
      padding: 0; } }
  @media (min-width: 46.25em) {
    .blue-books .container form {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .blue-books .title,
  .blue-books .action,
  .blue-books .content {
    margin: 0;
    padding: 30px 20px; }
  @media (min-width: 46.25em) {
    .blue-books .title,
    .blue-books .action {
      padding: 25px 0;
      width: 25%; } }
  .blue-books .content {
    border-top: 1px solid #dde6ec;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    @media (min-width: 46.25em) {
      .blue-books .content {
        border-top: none;
        padding: 35px 0 35px 50px;
        border-left: 1px solid #dde6ec;
        width: 50%; } }
    .blue-books .content input {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .blue-books .title {
    font-size: 21px; }
  .blue-books .content {
    font-size: 21px; }
    .blue-books .content input {
      color: inherit;
      margin-left: 10px; }
  .blue-books .action {
    text-align: right; }
    @media (max-width: 46.24em) {
      .blue-books .action {
        padding-top: 0; } }

.coachs-intro {
  text-align: center;
  background-image: url("../assets/img/bg/worldmap.png");
  background-size: cover;
  padding: 50px 10px; }
  @media (min-width: 61.25em) {
    .coachs-intro {
      padding: 50px; } }
  .coachs-intro .title {
    font-size: 72px;
    margin-top: 0; }
  .coachs-intro .subtitle {
    font-size: 15px;
    color: #62819a;
    font-weight: normal; }
  .coachs-intro .icon {
    color: #f06030;
    font-size: 21px; }

.coachs-filters p {
  margin: 0; }

.coachs-filters input {
  padding: 0; }

.coachs-filters .filters-burger {
  text-align: center;
  background-color: #fefefe;
  margin-top: 10px;
  padding: 10px;
  display: block; }

.coachs-filters .title {
  background-color: #1e5d85;
  color: #fefefe;
  text-align: center;
  padding: 10px;
  font-size: 18px; }

.coachs-filters .form-round {
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  padding: 10px 30px;
  position: relative;
  min-width: 200px;
  height: 3em;
  margin-top: 20px; }
  .coachs-filters .form-round.first {
    margin-top: 0; }
  @media (min-width: 61.25em) {
    .coachs-filters .form-round {
      margin-top: 0; } }
  .coachs-filters .form-round i.caret {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 30px; }
  .coachs-filters .form-round i.icon-search {
    margin-right: 5px; }

.coachs-filters .filters-container {
  display: none; }
  @media (min-width: 61.25em) {
    .coachs-filters .filters-container {
      display: block !important; } }

.coachs-filters .filters {
  background-color: #fefefe;
  padding: 30px 30px; }
  @media (min-width: 61.25em) {
    .coachs-filters .filters {
      padding: 30px 70px; } }
  @media (min-width: 61.25em) {
    .coachs-filters .filters .row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  .coachs-filters .filters .row select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    padding: 10px 30px; }

.coachs-filters .search {
  text-align: center;
  margin-top: 20px; }

.coachs-list {
  margin-top: 10px; }
  .coachs-list:not(.slider) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  @media (min-width: 61.25em) {
    .coachs-list {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .coachs-list .coach {
    margin-bottom: 10px;
    background-color: #fefefe;
    width: 100%; }
    .coachs-list .coach.count {
      text-align: center;
      background-color: #7fbee5;
      color: #fefefe;
      font-size: 24px;
      position: relative; }
      .coachs-list .coach.count:last-child {
        min-height: 150px; }
      .coachs-list .coach.count .number {
        font-size: 60px; }
      @media (min-width: 46.25em) {
        .coachs-list .coach.count p {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          margin: 0;
          width: 100%; } }
    @media (min-width: 46.25em) and (max-width: 61.24em) {
      .coachs-list .coach {
        width: calc(100% / 2 - 5px);
        margin-right: 10px; }
        .coachs-list .coach:nth-child(even) {
          margin-right: 0; } }
    @media (min-width: 61.25em) {
      .coachs-list .coach {
        width: calc(100% / 3 - 7px);
        margin-right: 10px; }
        .coachs-list .coach:nth-child(3n+3) {
          margin-right: 0; } }
    .coachs-list .coach .picture {
      display: inline-block;
      vertical-align: top; }
      .coachs-list .coach .picture img {
        display: block;
        max-width: 80px; }
      @media (min-width: 46.25em) {
        .coachs-list .coach .picture {
          width: 38%;
          float: left; }
          .coachs-list .coach .picture img {
            max-width: 100%; } }
    .coachs-list .coach .name {
      font-size: 21px;
      line-height: 1;
      margin: 0; }
    .coachs-list .coach .location {
      margin-top: 5px;
      color: #62819a;
      margin-bottom: 0; }
    .coachs-list .coach .infos {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 100%;
      padding: 10px;
      width: calc(100% - 100px); }
      @media (min-width: 46.25em) {
        .coachs-list .coach .infos {
          width: 62%;
          float: left; } }
      @media (min-width: 61.25em) {
        .coachs-list .coach .infos {
          padding: 20px 20px 50px; } }
    .coachs-list .coach .cta {
      margin-bottom: 0;
      padding: 10px 0;
      font-weight: bold; }
      @media (min-width: 61.25em) {
        .coachs-list .coach .cta {
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 20px; } }
      .coachs-list .coach .cta a, .coachs-list .coach .cta i {
        color: #f06030; }

.track-record {
  margin-top: 40px; }
  .track-record .record {
    padding: 20px 0 20px 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }
  .track-record .section-title {
    font-size: 18px;
    padding-top: 0; }
  .track-record .logo img {
    display: block; }
  .track-record .title {
    font-size: 21px;
    margin: 15px 0; }
  .track-record .description {
    color: #62819a;
    line-height: 1.5; }
    .track-record .description p {
      margin: 0; }
  @media (min-width: 61.25em) {
    .track-record {
      margin-top: 0; }
      .track-record .record-wrapper {
        border-left: 1px solid #e0e0e0; }
      .track-record .record {
        padding-left: 20px; } }

.coach-pres {
  margin-top: 50px; }
  .coach-pres .coach-content:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 61.25em) {
    .coach-pres .presentation {
      width: 73.6842105263%;
      float: left;
      margin-right: 5.2631578947%; } }
  @media (min-width: 61.25em) {
    .coach-pres .track-record {
      width: 21.0526315789%;
      float: left;
      margin-right: 5.2631578947%;
      float: right;
      margin-right: 0; } }
  .coach-pres .synopsis {
    position: relative;
    text-align: center; }
    .coach-pres .synopsis:after {
      content: " ";
      display: block;
      clear: both; }
    .coach-pres .synopsis .picture {
      display: inline-block; }
    .coach-pres .synopsis .round {
      padding: 0.5em;
      font-size: 18px;
      margin-bottom: 10px;
      border: 0;
      background-color: #7ebce3;
      color: #fefefe; }
    .coach-pres .synopsis .name {
      font-size: 42px;
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      line-height: 1.2;
      font-weight: normal;
      margin: 20px 0 0; }
    .coach-pres .synopsis .occupation {
      font-size: 18px;
      color: #7ebce3;
      margin: 10px 0 0; }
    .coach-pres .synopsis .consult {
      margin-top: 35px;
      margin-bottom: 45px; }
    .coach-pres .synopsis .links {
      margin-top: 15px; }
    @media (min-width: 61.25em) {
      .coach-pres .synopsis {
        text-align: left; }
        .coach-pres .synopsis .picture {
          width: 59.1836734694%;
          float: left;
          margin-right: 2.0408163265%; }
        .coach-pres .synopsis .infos {
          float: left;
          width: 38.7755102041%; }
        .coach-pres .synopsis .name {
          margin: 0; }
        .coach-pres .synopsis .links {
          margin-top: 0;
          position: absolute;
          bottom: 0;
          left: 0; }
        .coach-pres .synopsis .round {
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          display: block; } }
  .coach-pres .details {
    margin-top: 30px; }
    .coach-pres .details:after {
      content: " ";
      display: block;
      clear: both; }
  .coach-pres .experience {
    font-size: 18px;
    padding: 30px;
    margin-bottom: 40px; }
    .coach-pres .experience p {
      margin: 0; }
    @media (min-width: 46.25em) {
      .coach-pres .experience {
        width: 50%;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 61.25em) {
      .coach-pres .experience {
        margin: 0 auto;
        width: auto;
        width: 28.5714285714%;
        float: left;
        margin-right: 7.1428571429%; } }
    .coach-pres .experience .title {
      font-size: 18px;
      margin: 0 0 5px; }
    .coach-pres .experience .content {
      margin: 0;
      color: #62819a; }
      .coach-pres .experience .content:first-of-type {
        margin-bottom: 15px; }
  .coach-pres .longform {
    font-size: 18px;
    line-height: 1.7; }
    @media (min-width: 61.25em) {
      .coach-pres .longform {
        width: 64.2857142857%;
        float: left;
        margin-right: 7.1428571429%;
        float: right;
        margin-right: 0; } }
    .coach-pres .longform > p:first-child,
    .coach-pres .longform > *:first-child p {
      margin-top: 0; }

.popin-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(126, 188, 227, 0.7);
  z-index: 10;
  color: #fefefe;
  padding: 30px; }
  .popin-contact.hidden {
    display: none; }
  .popin-contact .content {
    position: relative; }
  .popin-contact .close {
    color: #fefefe;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px; }
  .popin-contact .title {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 21px; }
    .popin-contact .title p {
      margin: 0; }
    .popin-contact .title .name {
      line-height: 1;
      font-size: 48px;
      margin: 0 0 20px; }
  @media (min-width: 61.25em) {
    .popin-contact .content {
      min-width: 500px; }
    .popin-contact .title {
      font-size: 30px; }
      .popin-contact .title .name {
        font-size: 60px; }
    .popin-contact textarea {
      min-height: 200px; } }
  .popin-contact input,
  .popin-contact textarea {
    color: #1e5d85;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px; }

.page-header {
  background-size: cover;
  background-position: center center;
  color: #fefefe;
  position: relative; }
  .page-header .container {
    position: relative; }
    .page-header .container:after {
      content: " ";
      display: block;
      clear: both; }
  .page-header .breadcrumbs {
    position: absolute;
    top: 20px;
    left: 30px; }
  .page-header .content {
    padding: 80px 0 80px 30px; }
    .page-header .content p {
      line-height: 1.7; }
    @media (min-width: 46.25em) {
      .page-header .content {
        width: 44.4444444444%;
        float: left;
        margin-right: 11.1111111111%; } }
    @media (min-width: 61.25em) {
      .page-header .content {
        padding-left: 0; } }
  .page-header .title {
    margin: 0;
    font-weight: normal;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 27px; }
    @media (min-width: 61.25em) {
      .page-header .title {
        margin-bottom: 10px;
        font-size: 72px;
        position: static; } }

.col-2 .content {
  color: #62819a;
  line-height: 1.7; }
  .col-2 .content p {
    margin: 0; }

.col-2 .infos .title {
  margin-bottom: 20px;
  line-height: 1; }

.col-2 .emphasis {
  margin-top: 25px; }
  .col-2 .emphasis .title {
    font-size: 18px;
    color: #fefefe;
    background-color: #1e5d85;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin: 0; }
  .col-2 .emphasis .content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px; }

@media (min-width: 46.25em) {
  .col-2 .emphasis {
    margin-top: 45px; } }

@media (min-width: 61.25em) {
  .col-2:after {
    content: " ";
    display: block;
    clear: both; }
  .col-2 .col {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
  .col-2 .emphasis {
    float: right;
    margin-right: 0; }
  .col-2 .emphasis {
    margin-top: 0; } }

.col-3:after {
  content: " ";
  display: block;
  clear: both; }

.col-3 .col {
  background-color: #fefefe; }
  @media (min-width: 61.25em) {
    .col-3 .col {
      width: 28.5714285714%;
      float: left;
      margin-right: 7.1428571429%; }
      .col-3 .col:last-child {
        margin-right: 0; } }

.col-3 .title-container {
  background-color: #eeeeee; }

.col-3 .title {
  background-color: #1e5d85;
  color: #fefefe;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;
  margin: 0;
  display: inline-block; }

.col-3 .content {
  padding: 30px;
  background-color: #fefefe;
  line-height: 1.7; }
  .col-3 .content p {
    margin: 0; }

.page-img-text .infos {
  padding: 20px 2.5641025641%;
  margin: 0;
  background-color: #1e5d85;
  color: #fefefe;
  line-height: 1.7; }
  .page-img-text .infos p {
    margin: 0; }

.page-img-text .img-container img {
  width: 100%; }

@media (min-width: 46.25em) {
  .page-img-text .infos {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media (min-width: 61.25em) {
  .page-img-text:after {
    content: " ";
    display: block;
    clear: both; }
  .page-img-text .img-container {
    width: 73.6842105263%;
    float: left; }
  .page-img-text .infos {
    padding-top: 40px;
    padding-bottom: 40px;
    float: left;
    width: 26.3157894737%; } }

.page-img-2 .img-container {
  margin-bottom: 25px; }

@media (min-width: 46.25em) {
  .page-img-2:after {
    content: " ";
    display: block;
    clear: both; }
  .page-img-2 .img-container {
    margin-bottom: 0;
    width: 47.3684210526%;
    float: left;
    margin-right: 5.2631578947%; }
    .page-img-2 .img-container:last-child {
      float: right;
      margin-right: 0; } }

.page-img-2 img {
  display: block;
  width: 100%; }

.page-cta-list {
  font-weight: bold;
  font-size: 18px; }
  .page-cta-list .zone-title {
    margin-bottom: 40px; }
  .page-cta-list .cta {
    background-color: #fefefe;
    position: relative;
    margin-bottom: 20px; }
    .page-cta-list .cta:last-child {
      margin-bottom: 0; }
    @media (min-width: 46.25em) {
      .page-cta-list .cta {
        padding: 20px; } }
  .page-cta-list .text {
    margin: 0;
    padding: 20px; }
    @media (min-width: 46.25em) {
      .page-cta-list .text {
        width: 60%;
        padding: 0; } }
  .page-cta-list a {
    display: block;
    padding: 20px; }
    @media (min-width: 46.25em) {
      .page-cta-list a {
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px; }
        .page-cta-list a:before {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
    @media (min-width: 61.25em) {
      .page-cta-list a {
        width: 30px; } }

.page-video-text p {
  margin: 0; }

.page-video-text .subtext {
  font-weight: bold;
  font-size: 18px;
  color: #f06030;
  margin-bottom: 30px; }
  .page-video-text .subtext span {
    vertical-align: middle; }

.page-video-text .infos {
  margin: 0;
  background-color: #fefefe; }

.page-video-text .title {
  margin: 0;
  padding: 20px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  background-color: #1e5d85;
  color: #fefefe; }

.page-video-text .content {
  padding: 20px;
  line-height: 1.7;
  color: #62819a;
  font-size: 18px; }

@media (min-width: 46.25em) {
  .page-video-text .title,
  .page-video-text .content {
    padding: 30px; } }

@media (min-width: 61.25em) {
  .page-video-text:after {
    content: " ";
    display: block;
    clear: both; }
  .page-video-text .media {
    width: 73.6842105263%;
    float: left; }
  .page-video-text .infos {
    float: left;
    width: 26.3157894737%;
    padding: 0 2.5641025641% 0 50px; }
  .page-video-text .title {
    margin: 0 -15% 0 -50px;
    padding: 45px 15% 45px 50px; }
  .page-video-text .content {
    padding: 50px 0; } }

@media (min-width: 61.25em) {
  .text-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .text-full {
    margin-left: 26.3157894737%;
    width: 47.3684210526%;
    float: left;
    margin-right: 5.2631578947%; } }

.text-img-left:after {
  content: " ";
  display: block;
  clear: both; }

@media (min-width: 46.25em) {
  .text-img-left img {
    width: 47.3684210526%;
    float: left;
    margin-right: 5.2631578947%; }
  .text-img-left .content {
    width: 47.3684210526%;
    float: right;
    margin-right: 0; } }

@media (min-width: 61.25em) {
  .text-img-left img {
    width: 47.3684210526%;
    float: left;
    margin-right: 5.2631578947%; }
  .text-img-left .content {
    width: 21.0526315789%;
    float: left;
    margin-right: 5.2631578947%; } }

.text-img-right:after {
  content: " ";
  display: block;
  clear: both; }

@media (min-width: 46.25em) {
  .text-img-right img {
    width: 47.3684210526%;
    float: right;
    margin-right: 0; }
  .text-img-right .content {
    width: 47.3684210526%;
    float: left;
    margin-right: 5.2631578947%; } }

@media (min-width: 61.25em) {
  .text-img-right img {
    width: 47.3684210526%;
    float: right;
    margin-right: 0; }
  .text-img-right .content {
    margin-left: 26.3157894737%;
    width: 21.0526315789%;
    float: left;
    margin-right: 5.2631578947%; } }

.text-full,
.text-img-left,
.text-img-right {
  line-height: 1.7;
  margin-bottom: 45px;
  font-size: 18px; }
  .text-full p,
  .text-img-left p,
  .text-img-right p {
    margin-top: 0;
    margin-bottom: 0; }

.page-img img {
  width: 100%;
  display: block; }

.page-img small {
  color: #62819a; }

.page-list {
  font-size: 18px; }
  .page-list:after {
    content: " ";
    display: block;
    clear: both; }
  .page-list .title {
    margin-bottom: 20px; }
  .page-list ul {
    position: relative; }
    .page-list ul:before {
      content: '';
      position: absolute;
      left: 3px;
      top: 0;
      bottom: 0;
      border-left: 2px solid #7ebce3;
      z-index: -1; }
  @media (min-width: 46.25em) {
    .page-list ul {
      width: 44.4444444444%;
      float: left;
      margin-right: 11.1111111111%; }
      .page-list ul:last-child {
        float: right;
        margin-right: 0; } }
  @media (min-width: 61.25em) {
    .page-list .title {
      margin-bottom: 0;
      width: 28.5714285714%;
      float: left;
      margin-right: 7.1428571429%; }
    .page-list ul {
      width: 28.5714285714%;
      float: left;
      margin-right: 7.1428571429%; }
      .page-list ul:last-child {
        float: right;
        margin-right: 0; } }
  .page-list li {
    list-style: none;
    background: url("../assets/img/icons/dot.gif") left 0.5em no-repeat;
    padding-left: 1em;
    margin-bottom: 1em; }
    .page-list li:last-child {
      margin-bottom: 0; }
      @media (max-width: 46.24em) {
        .page-list li:last-child {
          padding-bottom: 1em; } }
    .page-list li p {
      margin: 0; }

.page-quote {
  text-align: center; }
  .page-quote:after {
    content: " ";
    display: block;
    clear: both; }
  .page-quote .quote-wrapper {
    padding: 0; }
    @media (min-width: 46.25em) {
      .page-quote .quote-wrapper {
        padding: 0 30px; } }
    @media (min-width: 61.25em) {
      .page-quote .quote-wrapper {
        padding: 0;
        margin-left: 26.3157894737%;
        width: 47.3684210526%;
        float: left;
        margin-right: 5.2631578947%; } }
  .page-quote .quote {
    line-height: 1.7;
    font-size: 24px;
    font-style: italic;
    margin-top: 0; }
  .page-quote .author {
    color: #7fbee5;
    font-weight: bold; }
  .page-quote.small {
    text-align: left; }
    .page-quote.small .picture {
      float: left;
      margin-right: 20px;
      max-width: 60px; }
    .page-quote.small .content {
      overflow: hidden; }

.page-comite .zone-title {
  margin-bottom: 40px; }

.search-results .coachs-list .coach.count p {
  position: static;
  -webkit-transform: none;
          transform: none;
  padding-bottom: 10px; }

.search-results .coachs-list .infos {
  width: 100%; }

.search-results .coachs-list .cta {
  padding-left: 0; }

.blog-header .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }

.blog-header .content {
  position: absolute;
  bottom: 20px;
  left: 20px; }
  @media (min-width: 46.25em) {
    .blog-header .content {
      bottom: 30px;
      left: 30px; } }
  @media (min-width: 61.25em) {
    .blog-header .content {
      position: static; } }

.blog-header .title {
  font-size: 27px;
  color: #fefefe;
  margin: 0;
  font-family: "Oswald", Helvetica, Arial, sans-serif; }
  @media (min-width: 61.25em) {
    .blog-header .title {
      font-size: 48px; } }
  @media (min-width: 61.25em) {
    .blog-header .title {
      font-size: 60px; } }

.blog-header .subtitle {
  color: #7fbee5;
  margin: 0;
  font-size: 15px; }
  @media (min-width: 46.25em) {
    .blog-header .subtitle {
      font-size: 11px; } }

.blog-header.single .breadcrumbs {
  position: absolute;
  top: 20px;
  left: 0; }

.blog-header.single .text {
  position: absolute;
  bottom: 20px;
  left: 0; }
  @media (min-width: 61.25em) {
    .blog-header.single .text {
      bottom: 40px;
      position: static; } }

.blog-main {
  margin-top: 40px; }
  .blog-main:after {
    content: " ";
    display: block;
    clear: both; }

.blog-menu {
  font-size: 14px;
  background-color: #fefefe;
  margin-bottom: 30px; }
  .blog-menu .blog-list-element {
    padding: 15px;
    position: relative;
    display: none; }
    .blog-menu .blog-list-element.active {
      display: block; }
      .blog-menu .blog-list-element.active .category {
        font-weight: bold; }
    @media (min-width: 61.25em) {
      .blog-menu .blog-list-element.no-category {
        display: none; } }
  .blog-menu.open .blog-list-element {
    display: block; }
  .blog-menu.open .toggler {
    display: none; }
  .blog-menu.open .no-category {
    display: none; }
  .blog-menu a {
    color: #62819a; }
  .blog-menu.category i {
    margin-right: 10px;
    display: none; }
  .blog-menu .toggler {
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid #eeeeee; }
    .blog-menu .toggler i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  @media (min-width: 61.25em) {
    .blog-menu {
      margin-bottom: 0;
      padding: 30px;
      width: 21.0526315789%;
      float: left;
      margin-right: 5.2631578947%; }
      .blog-menu .blog-list-element {
        padding: 0;
        display: block;
        margin-bottom: 20px; }
        .blog-menu .blog-list-element:last-child {
          margin-bottom: 0; }
      .blog-menu i {
        display: inline; }
      .blog-menu .toggler {
        display: none; } }

.blog-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 61.25em) {
    .blog-list {
      width: 73.6842105263%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 46.25em) {
    .blog-list .blog-article {
      width: 44.4444444444%; } }
  @media (min-width: 61.25em) {
    .blog-list .blog-article {
      width: 28.5714285714%; } }
  .blog-list .blog-pagination {
    margin-top: 60px;
    width: 100%; }

.blog-article {
  margin-bottom: 35px;
  width: 100%; }
  .blog-article img {
    width: 100%; }
  .blog-article p {
    margin: 0; }
  .blog-article .date {
    margin-top: 15px; }
  .blog-article .title {
    font-size: 21px;
    line-height: 1.7;
    margin: 10px 0; }
  .blog-article .content {
    line-height: 1.7;
    margin-bottom: 20px; }
  .blog-article .article-link {
    font-size: 13px; }
  .blog-article .picture {
    width: 100%; }
  @media (min-width: 61.25em) {
    .blog-article.big {
      width: 100%; }
      .blog-article.big img {
        width: 64.2857142857%;
        float: left;
        margin-right: 7.1428571429%; }
      .blog-article.big .date {
        margin-top: 0; }
      .blog-article.big .infos {
        width: 28.5714285714%;
        float: right;
        margin-right: 0; } }

.blog-pagination {
  font-size: 17px; }
  .blog-pagination li {
    display: inline;
    margin-right: 30px; }
    .blog-pagination li:last-child {
      margin-right: 0; }
  .blog-pagination .inactive {
    opacity: 0.5; }

.blog-single {
  margin-top: 40px; }
  .blog-single:after {
    content: " ";
    display: block;
    clear: both; }
  .blog-single .back {
    font-weight: bold; }
  .blog-single .infos p {
    margin: 0; }
  .blog-single .infos .zone-title {
    margin: 15px 0; }
  .blog-single .infos:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 61.25em) {
    .blog-single .infos {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .blog-single .infos .back {
        width: 26.3157894737%;
        margin-top: -5px; }
      .blog-single .infos .summary {
        width: 47.3684210526%; } }
  .blog-single .infos .round {
    background-color: #7ebce3;
    color: #fefefe;
    font-size: 13px;
    border: 0; }
  .blog-single .content {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.7; }
    @media (min-width: 61.25em) {
      .blog-single .content {
        margin-left: 26.3157894737%;
        width: 47.3684210526%;
        float: left;
        margin-right: 5.2631578947%; } }
    .blog-single .content .title-img img {
      width: 100%; }
      @media (min-width: 61.25em) {
        .blog-single .content .title-img img {
          display: block;
          width: 140%;
          margin: 0 -20%; } }
    .blog-single .content .wysiwyg-wrapper > *,
    .blog-single .content .wysiwyg-wrapper img {
      max-width: 100% !important; }
    .blog-single .content .wysiwyg-wrapper img {
      height: auto; }
    .blog-single .content .paragraph-title {
      font-size: 21px; }

section.generic {
  position: relative; }
  section.generic .generic-container {
    padding: 20px 0; }
    @media (min-width: 46.25em) {
      section.generic .generic-container {
        padding: 50px 0; } }
    @media (min-width: 61.25em) {
      section.generic .generic-container {
        padding: 100px 0; } }
    section.generic .generic-container iframe {
      max-width: 100%; }
      @media (max-width: 61.24em) {
        section.generic .generic-container iframe {
          max-height: 600px; } }
  section.generic .fourofour {
    width: 100%;
    font-size: 26px;
    text-align: center; }
    section.generic .fourofour span {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-bottom: 20px;
      font-size: 64px;
      font-weight: bold; }