$col-content-color: $hoki;
$col-infos-title-size: $font-xxl;
$col-infos-emphasis-size: $font-l;
$col-infos-emphasis-color: $white;
$col-infos-emphasis-background: $white;
$col-infos-emphasis-title-background: $blumine;

.col-2 {
    .content {
        color: $col-content-color;
        line-height: $high-line-height;

        p{
            margin: 0;
        }
    }
    .infos {
        .title {
            margin-bottom: 20px;
            line-height: 1;
        }
    }
    .emphasis {
        margin-top: 25px;

        .title {
            font-size: $col-infos-emphasis-size;
            color: $col-infos-emphasis-color;
            background-color: $col-infos-emphasis-title-background;
            padding: 10px 30px;
            text-align: center;
            display: inline-block;
            margin: 0;
        }
        .content {
            background-color: $col-infos-emphasis-background;
            margin: 0;
            padding: 20px;
        }
    }

    @include mq($from: tablet) {
        .emphasis{
            margin-top: 45px;
        }
    }
    @include mq($from: desktop) {
        @include susy-clearfix;
        .col {
            @include span(6 of 12);
        }
        .emphasis {
            @include last;
        }

        .emphasis{
            margin-top: 0;
        }
    }
}