$col3-title-background: $blumine;
$col3-title-color: $white;
$col3-title-size: $font-l;

$col3-content-background: $white;
$col3-content-link-color: $flamingo;

.col-3 {
    @include susy-clearfix;

    .col {
        background-color: $col3-content-background;


        @include mq($from : desktop){
            @include span(1 of 3);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .title-container {
        background-color: $background-color;
    }
    .title {
        background-color: $col3-title-background;
        color: $col3-title-color;
        font-size: $col3-title-size;
        padding: 10px 30px;
        font-weight: bold;
        margin: 0;
        display: inline-block;
    }
    .content {
        padding: 30px;
        background-color: $col3-content-background;
        line-height: $high-line-height;

        p {
            margin: 0;
        }
    }
}