$cta-list-size: $font-l;
$cta-list-background: $white;

.page-cta-list {
    font-weight: bold;
    font-size: $cta-list-size;

    .zone-title{
        margin-bottom: 40px;
    }

    .cta {
        background-color: $cta-list-background;
        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @include mq($from: tablet) {
            padding: 20px;
        }
    }

    .text {
        margin: 0;
        padding: 20px;

        @include mq($from: tablet) {
            width: 60%;
            padding: 0;
        }
    }

    a {
        display: block;
        padding: 20px;

        @include mq($from: tablet) {
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60px;

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        @include mq($from: desktop) {
            width: 30px;
        }
    }
}