.page-img-2 {
    .img-container{
        margin-bottom: 25px;
    }

    @include mq($from: tablet) {
        @include susy-clearfix;

        .img-container {
            margin-bottom: 0;
            @include span(2 of 4);

            &:last-child {
                @include last;
            }
        }

    }
    img {
        display: block;
        width: 100%;
    }
}