$img-text-background : $blumine;
$img-text-color : $white;

.page-img-text{
    .infos{
        padding : 20px gutters(8);
        margin: 0;
        background-color: $img-text-background;
        color : $img-text-color;
        line-height : $high-line-height;

        p{
            margin: 0;
        }
    }

    .img-container{
        img{
            width: 100%;
        }
    }

    @include mq($from : tablet){
        .infos{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    @include mq($from : desktop){
        @include susy-clearfix;

        .img-container{
            @include span(3 of 4 no-gutters);
        }

        .infos{
            padding-top: 40px;
            padding-bottom: 40px;
            float : left;
            width : span(1 of 4) + gutters(4);
        }
    }
}