$page-list-border-color: $seagull_alt;
$page-list-title-size: $font-xxl;
$page-list-size: $font-l;

.page-list {
    font-size : $page-list-size;

    @include susy-clearfix;

    .title{
        margin-bottom: 20px;
    }

    ul {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 3px;
            top: 0;
            bottom: 0;
            border-left: 2px solid $page-list-border-color;
            z-index: -1;
        }
    }

    @include mq($from: tablet) {
        ul {
            @include span(1 of 2);

            &:last-child {
                @include last;
            }
        }
    }
    @include mq($from: desktop) {
        .title {
            margin-bottom: 0;
            @include span(1 of 3);
        }
        ul {
            @include span(1 of 3);

            &:last-child {
                @include last;
            }
        }
    }

    li {
        list-style: none;
        background: url('../assets/img/icons/dot.gif') left 0.5em no-repeat;
        padding-left: 1em;
        margin-bottom: 1em;

        &:last-child {
            @include mq($until: tablet) {
                padding-bottom: 1em
            }
            margin-bottom: 0;
        }

        p{
            margin: 0;
        }
    }
}