$page-header-color: $white;
$page-header-title-size: $font-gigantic;
$page-header-title-size-small: 27px;

.page-header {
    background-size: cover;
    background-position: center center;
    color: $page-header-color;

    position: relative;

    .container{
        position: relative;
        @include susy-clearfix;
    }
    .breadcrumbs{
        position: absolute;
        top : 20px;
        left : 30px;
    }

    .content {
        padding : 80px 0 80px 30px;

        p{
            line-height: $high-line-height;
        }

        @include mq($from: tablet) {
            @include span(1 of 2);
        }
        @include mq($from: desktop) {
            padding-left: 0;
        }
    }

    .title {
        margin: 0;
        font-weight: normal;
        font-family: $oswald;
        position: absolute;
        bottom: 20px;
        left: 30px;
        font-size: $page-header-title-size-small;

        @include mq($from: desktop) {
            margin-bottom: 10px;
            font-size: $page-header-title-size;
            position : static;
        }
    }
}