$page-quote-size : 24px;
$page-quote-author-color : $seagull;

.page-quote{

    @include susy-clearfix;

    .quote-wrapper{
        padding: 0;

        @include mq($from : tablet){
            padding : 0 30px;
        }
        @include mq($from : desktop){
            padding : 0;
            @include push(1 of 4);
            @include span(2 of 4);
        }
    }

    text-align: center;

    .quote{
        line-height : $high-line-height;
        font-size: $page-quote-size;
        font-style: italic;
        margin-top: 0;
    }
    .author{
        color : $page-quote-author-color;
        font-weight : bold;
    }

    &.small{
        text-align: left;

        .picture{
            float: left;
            margin-right: 20px;
            max-width : 60px;
        }

        .content{
            overflow : hidden;
        }
    }
}