.search-results {
    .coachs-list {
        .coach.count p {
            position: static;
            transform: none;
            padding-bottom: 10px;

        }
        .infos {
            width: 100%;
        }

        .cta {
            padding-left: 0;
        }
    }
}
