$page-text-size : $font-l;

@include mq($from: desktop) {
    .text-wrapper {
        @include susy-clearfix;
    }
    .text-full {
        @include push(1 of 4);
        @include span(2 of 4);
    }
}

.text-img-left {
    @include susy-clearfix;

    @include mq($from: tablet) {
        img {
            @include span(2 of 4);
        }
        .content {
            @include span(2 of 4 last);
        }
    }

    @include mq($from: desktop) {
        img {
            @include span(2 of 4);
        }
        .content {
            @include span(1 of 4);
        }
    }

}

.text-img-right {
    @include susy-clearfix;

    @include mq($from: tablet) {
        img {
            @include span(2 of 4 last);
        }
        .content {
            @include span(2 of 4);
        }
    }
    @include mq($from: desktop) {
        img {
            @include span(2 of 4 last);
        }
        .content {
            @include push(1 of 4);
            @include span(1 of 4);
        }
    }
}

.text-full,
.text-img-left,
.text-img-right {
    line-height: $high-line-height;
    margin-bottom: 45px;
    font-size : $page-text-size;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}