$video-text-title-background: $blumine;
$video-text-subtext-color: $flamingo;
$video-text-subtext-size: $font-l;
$video-text-title-color: $white;
$video-text-title-size: 36px;
$video-text-content-background: $white;
$video-text-content-color: $hoki;
$video-text-content-size: $font-l;

.page-video-text {
    p {
        margin: 0;
    }
    .subtext {
        font-weight: bold;
        font-size: $video-text-subtext-size;
        color : $video-text-subtext-color;
        margin-bottom: 30px;
        span{
            vertical-align: middle;
        }
    }
    .infos {
        margin: 0;
        background-color: $video-text-content-background;
    }
    .title {
        margin: 0;
        padding: 20px;
        font-family: $oswald;
        font-weight: normal;
        font-size: $video-text-title-size;
        background-color: $video-text-title-background;
        color: $video-text-title-color;
    }
    .content {
        padding: 20px;
        line-height: $high-line-height;
        color: $video-text-content-color;
        font-size: $video-text-content-size;
    }
    @include mq($from: tablet) {
        .title,
        .content {
            padding: 30px;
        }
    }
    @include mq($from: desktop) {
        @include susy-clearfix;
        .media {
            @include span(3 of 4 no-gutters);
        }

        .infos {
            float: left;
            width: span(1 of 4) + gutters(4);
            padding: 0 gutters(8) 0 50px;
        }
        .title {
            margin: 0 -15% 0 -50px;
            padding: 45px 15% 45px 50px;
        }
        .content {
            padding: 50px 0;
        }
    }
}