$susy: (
    columns: 12,
    container: 1280px,
    global-box-sizing: border-box
);

@include border-box-sizing;

html{
    min-height : 100%;
    background-color: $background-color;
}
body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color : $blumine;
    background-color: $background-color;

    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size : 15px;
}

.container{
    @include mq($until : tablet){
        padding : 0 20px;
    }
    @include mq($from : tablet){
        padding : 0 30px;
    }
    @include mq($from : desktop){
        @include container;
    }
    @include mq($from : wide){
        padding: 0;
    }

    &.mobile-full{
        @include mq($until : tablet){
            padding : 0;
        }
    }
}

.swiper-container{
    padding-bottom: 40px;

    @include mq($from : desktop){
        padding-bottom: 0;
    }

    .swiper-slide{
        height : auto;
    }
}

ul.no-style{
    & > li{
        list-style-type: none;
    }
}

.no-wrap{
    white-space: nowrap;
}

.password-protection{
    margin-top: 20px;
    margin-bottom: 20px;

    .separate{
        margin-top: 10px;
    }

    @include mq($from : desktop){
        margin-top: 50px;
        margin-bottom: 50px;
    }
}