ul{
    padding : 0;
    margin : 0;
}
li{
    list-style-position: inside;
}
a{
    cursor : pointer;
    color : inherit;
}

input,
textarea{
    border : 0;
    border-radius : 5px;
}

button{
    border : 0;

    &:hover{
        cursor : pointer;
    }
}

b, strong{
    font-weight : bold;
}