$cta-coach-color: $white;
$cta-coach-size: 30px;

.cta-coach {
    background-size: cover;
    padding: 20px;

    @include mq($from : desktop){
        padding: 40px;
    }

    .text {
        font-size: $cta-coach-size;
        font-weight: bold;
        margin: 0;
        width: 80%;
    }
    .link-container {
        text-align: right;
        width: 20%;

        a{
            font-size: $cta-coach-size;
        }
    }

    .text,
    .link-container {
        display: inline-block;
    }

    &,
    a {
        color: $cta-coach-color;
    }

    p {
        margin: 0;
    }
}