$blue-books-background: white;
$blue-books-border-color: $mystic_alt;
$blue-books-title-size: $font-xl;
$blue-books-content-size: $font-xl;

.blue-books {
    background-color: $blue-books-background;

    .container {
        @include mq($until: tablet) {
            padding: 0;
        }
        form {

            @include mq($from: tablet) {
                display: flex;
                align-items: center;
            }
        }
    }

    .title,
    .action,
    .content {
        margin: 0;
        padding: 30px 20px;
    }

    .title,
    .action {
        @include mq($from: tablet) {
            padding: 25px 0;
            width: 25%;
        }
    }
    .content {
        border-top: 1px solid $blue-books-border-color;
        @include mq($from: tablet) {
            border-top: none;
            padding: 35px 0 35px 50px;
            border-left: 1px solid $blue-books-border-color;
            width: 50%;
        }

        display : flex;
        align-items : baseline;

        input{
            flex-grow : 1;
        }
    }

    .title {
        font-size: $blue-books-title-size;
    }
    .content {
        font-size: $blue-books-content-size;
        input {
            color: inherit;
            margin-left: 10px;
        }
    }
    .action {
        text-align: right;
        @include mq($until: tablet) {
            padding-top: 0;
        }
    }
}