$challenging-subtitle-mobile-size : $font-s;
$stats-color : $white;
$stats-size : $font-gigantic;
$stats-type-size : $font-l;
$stats-type-color : rgba($white, 0.6);
$stats-background : $blumine;

.challenging{
    color : $stats-color;
    font-size: $stats-size;

    .challenging-container{
        display : flex;
    }

    .zone-subtitle{
        margin-top: 10px;
        margin-bottom: 25px;
        font-weight : normal;

        @include mq($until : tablet){
            font-size : $challenging-subtitle-mobile-size;
        }
    }

    .stats{
        background-color: $stats-background;
        padding : 40px 0;
        width: 100%;

        @include mq($from : tablet){
            width : span(4 of 12) + gutters();
            padding : 103px 0;
        }

        li{
            margin-bottom : 60px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .number,
    .type{
        display : block;
        text-align: center;
        line-height : 1;
    }
    .number{
        font-family: $oswald;
    }
    .type{
        margin-top: 6px;
        font-size: $stats-type-size;
        color : $stats-type-color;
    }

    .map{
        display : none;
        width : span(8 of 12);

        background-size: cover;
        background-position: center center;

        @include mq($from : tablet){
            display : block
        }
    }
}