$coaching-content : $hoki;

.coaching{
    @include susy-clearfix;

    .zone-title{
        margin-bottom: 15px;
    }
    .content{
        color : $coaching-content;
        margin-bottom: 20px;

        p{
            margin : 0 0 30px;
        }
    }
    .media{
        margin-bottom: 25px;
    }

    @include mq($from : tablet, $until : desktop){
        .content{
            @include span(8);
            margin-bottom: 0;
        }
        .media{
            @include break;
        }
    }
    @include mq($from : desktop){
        .zone-title,
        .content{
            @include span(3);
            margin-bottom: 0;
        }
        .media{
            @include span(6 last);
            margin-bottom: 0;
        }
    }

}