$coachs-intro-title-size: $font-gigantic;
$coachs-intro-subtitle-size: $font-s;
$coachs-intro-subtitle-color: $hoki;
$coachs-intro-icon-color: $flamingo;
$coachs-intro-icon-size: $font-xl;

.coachs-intro {

    text-align: center;
    background-image: url('../assets/img/bg/worldmap.png');
    background-size: cover;

    padding: 50px 10px;
    @include mq($from : desktop){
        padding: 50px;
    }

    .title {
        font-size: $coachs-intro-title-size;
        margin-top: 0;
    }
    .subtitle{
        font-size: $coachs-intro-subtitle-size;
        color : $coachs-intro-subtitle-color;
        font-weight: normal;
    }
    .icon{
        color : $coachs-intro-icon-color;
        font-size : $coachs-intro-icon-size;
    }
}