$popin-background: rgba($seagull_alt, 0.7);
$popin-color: $white;
$popin-input-color: $blumine;
$popin-title-size: 30px;
$popin-name-size: $font-huge;
$popin-title-size-small: $font-xl;
$popin-name-size-small: $font-xxl;
$popin-close-size: $font-xl;

.popin-contact {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $popin-background;
    z-index: 10;
    color: $popin-color;
    padding: 30px;

    &.hidden {
        display: none;
    }

    .content {
        position: relative;

    }
    .close {
        color: $popin-color;
        position: absolute;
        top: 0;
        right: 0;
        font-size: $popin-close-size;
    }

    .title {
        font-family: $oswald;
        font-size: $popin-title-size-small;

        p {
            margin: 0;
        }

        .name {
            line-height: 1;
            font-size: $popin-name-size-small;
            margin: 0 0 20px;
        }
    }

    @include mq($from: desktop) {
        .content {
            min-width: 500px;
        }
        .title {
            font-size: $popin-title-size;

            .name {
                font-size: $popin-name-size;
            }
        }

        textarea{
            min-height : 200px;
        }
    }

    input,
    textarea {
        color: $popin-input-color;

        padding: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
}