$coachs-filters-title-background : $blumine;
$coachs-filters-title-color : $white;
$coachs-filters-title-size : $font-l;

$coachs-filters-round-color : $alto;
$coachs-filters-round-padding : 30px;

$coachs-filters-background : $white;

.coachs-filters{

    p{
        margin: 0;
    }
    input{
        padding: 0;
    }

    .filters-burger{
        text-align: center;
        background-color: $coachs-filters-background;
        margin-top: 10px;
        padding : 10px;
        display: block;
    }

    .title{
        background-color: $coachs-filters-title-background;
        color: $coachs-filters-title-color;
        text-align: center;
        padding: 10px;
        font-size: $coachs-filters-title-size;
    }

    .form-round{
        border-radius : 20px;
        border : 1px solid $coachs-filters-round-color;

        padding : 10px $coachs-filters-round-padding;
        position: relative;
        min-width : 200px;
        height: 3em;
        margin-top: 20px;

        &.first{
            margin-top: 0;
        }

        @include mq($from : desktop){
            margin-top: 0;
        }

        i.caret{
            position : absolute;
            top : 50%;
            transform : translateY(-50%);
            right : $coachs-filters-round-padding;
        }
        i.icon-search{
            margin-right: 5px;
        }
    }

    .filters-container{
        display: none;

        @include mq($from : desktop){
            display: block !important;
        }
    }
    .filters{

        background-color: $coachs-filters-background;
        padding: 30px 30px;

        @include mq($from : desktop){
            padding: 30px 70px;
        }

        .row{
            @include mq($from : desktop){
                display : flex;
                align-items : center;
                justify-content: space-around;
            }

            select{
                position: absolute;
                top : 0;
                bottom : 0;
                left : 0;
                width: 100%;
                background : none;
                appearance : none;
                border : none;
                padding : 10px $coachs-filters-round-padding;
            }
        }
    }

    .search{
        text-align: center;
        margin-top: 20px;
    }

}