@import "coach-track-record";

$synopsis-name-size: 42px;
$synopsis-occupation-size: $font-l;
$synopsis-occupation-color: $seagull_alt;
$synopsis-social-link-background: $seagull_alt;
$synopsis-social-link-color: $white;
$synopsis-social-link-size: $font-l;
$experience-size: $font-l;
$experience-color: $hoki;
$longform-size: $font-l;

.coach-pres {
    margin-top: 50px;

    .coach-content{
        @include susy-clearfix;
    }

    .presentation {
        @include mq($from: desktop) {
            @include span(3 of 4);
        }
    }
    .track-record {
        @include mq($from: desktop) {
            @include span(1 of 4);
            @include last;
        }
    }

    .synopsis {
        @include susy-clearfix;
        position: relative;
        text-align: center;

        .picture {
            display: inline-block;
        }

        .round {
            padding: 0.5em;
            font-size: $synopsis-social-link-size;
            margin-bottom: 10px;
            border: 0;
            background-color: $synopsis-social-link-background;
            color: $synopsis-social-link-color;
        }

        .name {
            font-size: $synopsis-name-size;
            font-family: $oswald;
            line-height: 1.2;
            font-weight: normal;
            margin: 20px 0 0;
        }
        .occupation {
            font-size: $synopsis-occupation-size;
            color: $synopsis-occupation-color;
            margin: 10px 0 0;
        }
        .consult {
            margin-top: 35px;
            margin-bottom: 45px;
        }

        .links{
            margin-top: 15px;
        }

        @include mq($from: desktop) {
            text-align: left;

            .picture {
                @include span(6 of 10 1/4);
            }

            .infos {
                float: left;
                width: span(4 of 10 1/4);
            }
            .name {
                margin: 0;
            }
            .links {
                margin-top: 0;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .round {
                transform: translateX(-50%);
                display: block;
            }
        }
    }

    .details {
        @include susy-clearfix;
        margin-top: 30px;
    }

    .experience {
        font-size: $experience-size;
        padding: 30px;
        margin-bottom: 40px;

        p {
            margin: 0;
        }

        @include mq($from: tablet) {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        @include mq($from: desktop) {
            margin: 0 auto;
            width: auto;
            @include span(1 of 3);
        }

        .title {
            font-size: $experience-size;
            margin: 0 0 5px;
        }

        .content {
            margin: 0;
            color: $experience-color;

            &:first-of-type {
                margin-bottom: 15px;
            }
        }
    }

    .longform {
        font-size: $longform-size;
        line-height : $high-line-height;
        
        @include mq($from: desktop) {
            @include span(2 of 3);
            @include last;
        }

        & > p:first-child,
        & > *:first-child p {
            margin-top: 0;
        }
    }
}
