$track-record-section-title-size: $font-l;
$track-record-title-size: $font-xl;
$track-record-description-color: $hoki;
$track-record-border-color: $alto;

.track-record {

    .record {
        padding: 20px 0 20px 0;
        margin: 0;
        border-bottom: 1px solid $track-record-border-color;
    }
    .section-title{
        font-size: $track-record-section-title-size;
        padding-top: 0;
    }
    .logo img{
        display: block;
    }

    .title {
        font-size: $track-record-title-size;
        margin: 15px 0;
    }
    .description {
        color: $track-record-description-color;
        line-height: 1.5;

        p{
            margin: 0;
        }
    }

    margin-top: 40px;

    @include mq($from : desktop){
        margin-top: 0;

        .record-wrapper{
            border-left: 1px solid $track-record-border-color;
        }
        .record{
            padding-left: 20px;
        }
    }
}