$coachs-count-background: $seagull;
$coachs-count-color: $white;
$coachs-count-size: 24px;
$coachs-count-number-size: $font-huge;

$coach-background: $white;
$coach-link-color: $flamingo;
$coach-name-size: $font-xl;
$coach-location-color: $hoki;

.coachs-list {
    margin-top: 10px;

    &:not(.slider) {
        display: flex;
        flex-wrap: wrap;
    }
    @include mq($from: desktop) {
        display: flex;
        flex-wrap: wrap;
    }

    .coach {
        &.count {
            text-align: center;
            background-color: $coachs-count-background;
            color: $coachs-count-color;
            font-size: $coachs-count-size;
            position: relative;
            &:last-child {
                min-height: 150px;
            }

            .number {
                font-size: $coachs-count-number-size;
            }

            @include mq($from: tablet) {
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                    width: 100%;
                }
            }
        }

        margin-bottom: 10px;
        background-color: $coach-background;

        width: 100%;
        @include mq($from: tablet, $until: desktop) {
            width: calc(100% / 2 - 5px);
            margin-right: 10px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        @include mq($from: desktop) {
            width: calc(100% / 3 - 7px);
            margin-right: 10px;
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }

        .picture {
            display: inline-block;
            vertical-align: top;

            img {
                display: block;
                max-width: 80px;
            }

            @include mq($from: tablet) {
                @include span(38% no-gutters);
                img {
                    max-width: 100%;
                }
            }

        }

        .name {
            font-size: $coach-name-size;
            line-height : 1;
            margin: 0;
        }
        .location {
            margin-top: 5px;
            color: $coach-location-color;

            margin-bottom: 0;
            @include mq($from: tablet) {

            }
        }
        .infos {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            padding: 10px;
            width: calc(100% - 100px);
            @include mq($from: tablet) {
                @include span(62% no-gutters);
            }
            @include mq($from: desktop) {
                padding: 20px 20px 50px;
            }
        }
        .cta {
            margin-bottom: 0;
            padding: 10px 0;
            font-weight : bold;

            @include mq($from: desktop) {
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 20px;
            }

            a, i {
                color: $coach-link-color;
            }
        }
    }

}