$xp-background: $white;
$xp-role-color: $seagull;
$xp-name-size: $font-l;
$xp-name-color: $blumine;
$xp-content-color : $hoki;

/* For background decoration */
.home-container{
    position: relative;
}
/* */

.experience {
    .swiper-container{
        padding-bottom: 0;
    }

    @include susy-clearfix;
    background-color: $xp-background;

    .description {
        .content {
            padding: 25px 35px 25px 0;
            color : $xp-content-color;

            .buttons,
            .content-wrapper{
                padding-left : 35px;
            }
        }

        .role {
            color: $xp-role-color;
        }

        .name {
            font-size: $xp-name-size;
            color: $xp-name-color;
        }
    }
    @include mq($from: desktop) {
        .description {
            @include span(25% no-gutter);
        }
        .video-container {
            @include span(75% no-gutter);
        }
    }

    .zone-title {
        padding: 40px 50px;
    }
}