$footer-color: rgba($white, 0.75);
$footer-icon-color: $white;
$footer-title-size: $font-xl;
$footer-title-color: $white;
$footer-copyright-size: $font-xxs;
$footer-copyright-color: rgba($white, 0.6);

footer {
    background-color: $blumine;
    padding: 50px;

    .footer-container {
        @include susy-clearfix;
    }

    .link {
        color: $footer-color;

        i {
            color: $footer-icon-color;
            display: inline-block;
            width: 15px;
        }
    }

    .column {
        margin-bottom: 40px;

        @include mq($from: tablet) {
            margin-bottom: 0;

            @include span(4 of 12);

            &.logo {
                @include span(100%);
                text-align: center;
                margin-bottom: 40px;
            }
            &.second {
                clear: left;
            }
            &.links {
                @include last;
            }
        }
        @include mq($from: desktop) {
            @include span(3 of 12);

            &.logo{
                @include span(3 of 12);
                text-align: left;
                margin-bottom: 0;
            }
            &.second {
                clear: none;
            }
            &.links {
                @include last;
            }
        }
    }
    .title {
        font-size: $footer-title-size;
        color: $footer-title-color;
        margin: 0 0 5px;
    }

    li {
        line-height: 2em;
        color: $footer-color;
    }

    & > p {
        margin-top: 40px;
        color: $footer-copyright-color;
        font-size: $footer-copyright-size;
    }
}