section.generic{
    position: relative;

    .generic-container{
        padding : 20px 0;

        @include mq($from : tablet){
            padding : 50px 0;
        }
        @include mq($from : desktop){
            padding : 100px 0;
        }

        iframe{
            max-width: 100%;

            @include mq($until : desktop){
                max-height: 600px;
            }
        }
    }

    .fourofour {
        width: 100%;
        font-size: 26px;
        text-align: center;

        span {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin-bottom: 20px;
            font-size: 64px;
            font-weight: bold;
        }
    }
}
