$header-background : $mystic;
$header-color : $blumine;

header{
    order : 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    color : $header-color;
    background-color: $header-background;

    padding: 10px;

    .flags{
        order : 1;
        margin-top: 10px;

        & > *{
            margin-right: 10px;

        }
        @include mq($until : desktop){
            a, img {
                width: 26px;
                height: auto;
            }
        }

    }
    @include mq($from : desktop){
        flex-direction: row;

        .flags{
            margin-top: 0;
            order : 0;
        }
    }
    .main-title{
        display: none;
        text-transform: uppercase;
        font-size: $font-xxs;

        @include mq($from : desktop){
            display: block;
        }
    }

    .links{
        font-size: $font-xs;
        a{
            color : $header-color;
            margin-right: 20px;
        }
    }

    & > *{
        display: inline-block;
        margin : 0;
    }
}