$insights-background: $white;
$insight-border: $alto;
$insight-size: $font-xl;
$insight-legend: $seagull;

.insights {
    background-color: $insights-background;
    padding: 10px;

    @include mq($from: tablet) {
        padding: 40px 0;
    }
    @include mq($from: desktop) {
        padding: 80px 40px;
    }

    .zone-title {
        margin-bottom: 50px;
    }

    .slider-container {
        @include susy-clearfix;
        position: relative;

        .button {
            display: none;

        }
        @include mq($from: desktop) {

            .button {
                display: block;
                position: absolute;
                top: 50%;

                &.left {
                    left: 0;
                }
                &.right {
                    right: 0;
                    text-align: right;
                }
            }
        }
    }
    @include mq($until: desktop) {
        .slider-insights {
            padding-bottom: 50px;
        }
    }
    @include mq($from: desktop) {
        .swiper-pagination {
            display: none;
        }
    }
    .slider-wrapper {

        @include mq($from: desktop) {
            @include span(10 no-gutter);
            @include push(1);
        }
        margin-bottom: 0;
    }
    .button {
        @include span(1 no-gutter);
    }

    .insight {
        border: 1px solid $insight-border;
        padding: 30px;
        margin: 0;

        legend {
            padding: 0 10px;
            font-weight: bold;
            color: $insight-legend;
        }

        .title {
            font-size: $insight-size;
            margin: 0 0 15px;
        }

        p {
            margin-top: 0;
        }
    }
}