$offers-title-background: $blumine;
$offers-container-background: $white;
$offers-content-color: $hoki;

.offers {
    .offers-wrapper {
        @include mq($from: desktop) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.offer {
    @include mq($from: desktop) {
        width: calc(100% / 3 - 45px);
        margin-right: 45px;

        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    .button-next{
        min-width : 35px;
        text-align: center;
    }
}

