.pushes{
    @include susy-clearfix;

    .push{
        @include mq($from : desktop){
            @include span(4);
        }
        position : relative;

        img{
            width: 100%;
        }

        &:last-child{
            @include last;
        }

        @include mq($until : tablet){
            .button-next{
                display : none;
            }
        }
    }
}