$search-background: $blumine;
$search-color: $white;
$search-size-s: 30px;
$search-size: 40px;

.search-container {
    background-color: $search-background;
    color: $search-color;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .search {
        padding: 30px;
        i {
            margin-left: 10px;
        }

    }
    .actions{
        margin-top: 15px;
    }
    @include mq($from: desktop) {
        .search {
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .actions{
            margin-top: 0;
        }
    }

    input {
        color: $search-color;
        font-size: $search-size-s;
        max-width: 100%;

        @include mq($from: desktop) {
            font-size: $search-size;
        }
    }
}