$slider-subtitle-color: $seagull;
$slider-title-color: $white;
$slider-content-color: rgba($white, 0.8);
$slider-subtitle-size: $font-s;
$slider-title-size: $font-m;
$slider-title-size-m: $font-l;
$slider-title-size-l: $font-huge;
$slider-content-size: $font-s;
$slider-button-color: $white;

.home-slider {
    .slide-container {
        @include container;
    }

    .subtitle {
        color: $slider-subtitle-color;
        font-size: $slider-subtitle-size;
        margin: 0;
    }
    .title {
        color: $slider-title-color;
        font-size: $slider-title-size;
        margin: 0;
        line-height: 1.2;
        font-weight: normal;
    }
    .content {
        display: none;

        color: $slider-content-color;
        font-size: $slider-content-size;

        line-height: 1.6;
        @include span(6);
    }
    .content-container {
        padding : 0 20px;
    }

    .swiper-button {
        background: none;
        width: auto;
        padding: 10px;
        border-radius: 50px;
        border: 2px solid rgba($slider-button-color, 0.75);
        color: $slider-button-color;

        @include mq($until: desktop) {
            display: none;
        }
    }
    .slide {
        background-size: cover;
        padding: 30vw 0 2em;
    }
    @include mq($from: tablet) {
        .title {
            font-size: $slider-title-size-m;
        }
        .content-container {
            @include span(6 of 12 0);
        }
    }
    @include mq($from: desktop) {
        .swiper-pagination {
            display: none;
        }
        .slide {
            padding : 10vw 0;
        }
        .title {
            font-size: $slider-title-size-l;
        }
        .content {
            display: block;
        }
        .content-container{
            padding: 0;
            @include push(3 of 24);
        }
    }
    @include mq($from: ultrawide) {
        .content-container {
            @include push(1 of 24);
        }
    }
}

