$top-background: $white;
$mid-background: $seagull_alt;

.background-deco {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    &.top {
        top : 0;
        background-color: $top-background;
    }
    &.mid {
        background-color: $mid-background;
    }
}