$breadcrumbs-color: $white;
$breadcrumbs-size: $font-tiny;
$breadcrumbs-parent-color: $jagged_ice;

.breadcrumbs {
    color: $breadcrumbs-color;
    font-weight: bold;
    font-size: $breadcrumbs-size;
    text-transform: uppercase;
    letter-spacing: 2px;

    .parent {
        color: $breadcrumbs-parent-color;
    }

    .crumb {
        display: inline;

        &:after {
            content: '>';
        }
        &:last-child:after {
            content: '';
        }
    }
}