$button-next-background: $flamingo;
$accent-background: $flamingo;
$accent-color: $white;
$link-color: $white;
$round-button: rgba($blumine, 0.75);
$round-button-size: 1em;

.button-next {
    background-color: $button-next-background;
    padding: 10px;
    text-decoration: none;

    &.corner {
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height : 35px;
        text-align: center;

        @include mq($from : desktop){
            width: 50px;
            height: 50px;
            line-height : 50px;
        }

        &:hover{
            background-color: darken($button-next-background, 10);
        }
    }
}

.link-simple {
    text-decoration: none;

    &:not(.no-hover):hover {
        text-decoration: underline;

        i{
            text-decoration : none;
        }
    }
    &.round {
        padding: $round-button-size;
        border: 2px solid $round-button;
        color: $round-button;
        font-size: $font-xxs;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }

        &.icon-arrow-left,
        &.icon-arrow-right{
            font-size: 5px;
            padding : 15px 14px;

            &:hover{
                background-color: $blumine;
                color : $white;
            }
        }
    }
}

@mixin link-simple() {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link {
    text-decoration: none;
    position: relative;
    color: $link-color;

    @include mq($from: desktop) {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: $link-color;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover:after {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

$rounded-horizontal-padding: 25px;
$rounded-horizontal-icon-padding: 80px;

.rounded {
    border-radius: 50px;
    display: inline-block;
    padding: 0.8em $rounded-horizontal-padding;
    text-align: left;
    position: relative;

    &.full-width {
        @include mq($until: tablet) {
            width: 100%;
            text-align: center;
        }
    }

    &.icon {
        padding-right: $rounded-horizontal-icon-padding;
    }
    &.icon i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $rounded-horizontal-padding;
    }
}

.round {
    border-radius: 50%;
}

.accent {
    background-color: $accent-background;
    color: $accent-color;

    font-weight: bold;

    &:hover{
        background-color: darken($accent-background, 5);
    }
}

.accent-text {
    color: $accent-background;
}
