$message-background : $blumine;
$message-color : $white;

.message{
    position : absolute;
    top: 0;
    left : 0;
    right : 0;

    background-color: $message-background;
    color : $message-color;
    text-align: center;
    padding : 20px;

    .close{
        position: absolute;
        top : 10px;
        right : 10px;
    }

    &.success{

    }
}