$navigation-color: $blumine;
$navigation-background: $white;
$submenu-background: $mercury;
$menu-container-background: $mystic;
$navigation-active-color: $flamingo;
$mobile-menu-background: $white;
$mobile-menu-size: $font-xl;
$mobile-menu-border-color: $mystic;
$mobile-menu-search-background: $mystic;

.nav-wrapper {
    @include susy-clearfix;
    background-color: $navigation-background;

    .nav {
        justify-content: space-between;
    }

    .logo {
        display: none;
        padding: 25px 0;
    }

    a {
        color: $navigation-color;
    }

    .container {
        @include mq($until: desktop) {
            padding: 0;
        }
    }

    .link-container {

        border-bottom: 1px solid $mobile-menu-border-color;

        & > .toggler-container {
            padding: 15px 10px;
            display: block;
            font-weight: bold;
            font-size: $font-m;
            width: 100%;
            position: relative;

            @include mq($until: desktop) {
                .toggler {
                    float: right;
                    text-align: center;
                    width: 2em;

                    &:before {
                        content: '+';
                    }
                }
            }
        }

        @include mq($until: desktop) {
            &.open {
                .toggler:before {
                    content: '-';
                }

                .submenu {
                    display: block;
                }

            }
        }
    }
    .submenu {
        display: none;
        top: 100%;
        z-index: 2;
        text-align: left;
        background-color: $submenu-background;
        padding: 10px;

        i {
            display: none;
        }

        & > li{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        @include mq($from: desktop) {
            padding: 30px;
            position: absolute;
            background-color: $navigation-background;

            li:hover {
                i {
                    display: inline;
                    margin-right: 5px;
                }
            }
        }
    }

    @include mq($from: desktop) {
        .nav {
            display: flex;
        }
        nav {
            text-align: right;
        }
        .logo {
            display: block;
        }
        .link-container {
            @include ghost-align();

            margin-right: 30px;
            display: inline-block;
            position: relative;
            height: 100%;
            border-bottom: 0;

            &:last-child{
                margin-right: 0;
            }
            & > .toggler-container {
                width: auto;
                padding: 0;
                display: inline-block;
            }
            &:hover {
                .submenu {
                    display: block;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    border-bottom: 4px solid $navigation-active-color;
                }
            }
        }
    }
}

.mobile-menu {
    background-color: $mobile-menu-background;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
    font-size: $mobile-menu-size;
    position: relative;

    i {
        margin-right: 10px;
    }
    .icon-cross {
        display: none;
    }
    .search {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        background-color: $mobile-menu-search-background;

        i {
            margin: -3px 0 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.mobile-open {
    .mobile-menu {
        .icon-bars {
            display: none;
        }
        .icon-cross {
            display: inline;
        }
    }
}

.menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: 300px;

    display: flex;
    flex-direction: column;
    background-color: $menu-container-background;

    @include mq($from: desktop) {
        background: transparent;
        display: block;
        position: static;
        width: auto;
    }
}

.main-wrapper {
    background-color: $background-color;
    position: relative;
    transition-property: left;
    transition-duration: 0.5s;
    left: 0;
    z-index: 1;
    overflow-x : hidden;
}

body {
    overflow-x: hidden;

    @include mq($until: desktop) {
        &.mobile-open .main-wrapper {
            left: 300px;
        }
    }
}
