$push-title-background: $blumine;
$push-container-background: $white;
$push-content-color: $hoki;

.generic-push {

    .zone-title{
        margin-bottom: 20px;
        @include mq($from : tablet){
            margin-bottom: 40px;
        }
    }

    .generic-push-wrapper{
        @include susy-clearfix;
    }
}

.generic-push-item {
    @include mq($until: tablet) {
        img{
            width : 100%;
        }
    }
    @include mq($from : tablet) {
        margin-right: 30px;
    }
    @include mq($from : desktop){
        margin-right: 0;
        margin-bottom: 30px;
    }

    &.gallery-mode{
        @include mq($from : desktop){
            @include gallery(4);
        }
    }

    .title-container{
        background-color: $background-color;
    }

    .generic-push-item-container{
        @include susy-clearfix;
    }

    background-color: $push-container-background;
    position: relative;

    .left{
        img{
            display: block;
        }

        @include mq($from : tablet){
            img{
                max-width : 100%;
            }
        }
    }
    .right{
        padding-bottom : 40px;
    }

    .content {
        color: $push-content-color;
        margin : 0;
        line-height : 1.2;
        padding : 20px 20px 0;
    }

    .generic-push-item-container {

        @include mq($from: tablet) {
            position: relative;

            .left {
                width: 50%;
            }

            .right {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50%;
                padding-bottom: 0;
            }

            .content {
                height: calc(100% - 30px);
            }
        }

        @include mq($from: desktop) {
            .content {
                height: calc(100% - 50px);
            }
        }
    }
}