$text-container-color: $flamingo;

.text-container {
    a {
        color: $text-container-color;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}