$zone-title-color : $blumine;
$zone-title-background : $white;
$zone-title-size : $font-xxl;
$zone-title-size-small : 36px;

$zone-subtitle-color : $flamingo;
$title-back-background : $blumine;
$title-back-color : $white;

.title-back {
    font-size: $font-l;
    padding: 15px 20px;
    margin: 0;

    background-color: $title-back-background;
    color: $title-back-color;
    display: inline-block;
}

.zone-title{
    color : $zone-title-color;
    font-family: $oswald;
    font-weight : normal;
    margin : 0;
    line-height : 1.2;
    font-size : $zone-title-size-small;

    @include mq($from : tablet){
        font-size : $zone-title-size;
    }

    &.inverse{
        background-color: $zone-title-color;
        color : $zone-title-background;
    }
    &.big{
        font-size: $font-huge;
    }
}
.zone-subtitle{
    color : $zone-subtitle-color;
    margin: 0;
    font-size : $font-l;
}
