$twitter-logo-size : 130px;
$twitter-logo-background : $robin;
$twitter-logo-color : $scooter;
$twitter-logo-text-color : $white;
$twitter-logo-text-size : $font-l;

$tweet-color : $hoki;
$tweet-background-color : $white;
$tweet-picture-border : $alto;
$tweet-name-color : $blumine;
$tweet-name-color-alt : rgba($blumine, 0.7);
$tweet-name-size : $font-xs;
$tweet-link-color : $robin;
$tweet-link-size : $font-xxs;

$twitter-icon-color : $mystic_alt;
$twitter-icon-size : $font-xl;
$twitter-intent-color : $seagull;

$tweet-date-color : $blumine;

.twitter{
    margin-top: 5px;

    .twitter-slider{
        overflow: visible !important;
    }

    .logo{
        position : relative;
        background-color: $twitter-logo-background;
        color : $twitter-logo-text-color;
        font-size: $twitter-logo-text-size;

        &:before{
            font-size: $twitter-logo-size;
            color : $twitter-logo-color;
        }

        &:before,
        .account{
            position : absolute;
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
            margin : 0;
        }

        .account{
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            font-weight: bold;
            color : $twitter-logo-text-color;
        }
    }

    .slide{
        @include mq($from : desktop){
            width: 20%;
        }
    }
    .tweet{
        padding: 20px 20px 50px;
        background-color: $tweet-background-color;
        color : $tweet-color;
        position: relative;

        /* Top */

        .top{
            position : relative;

            p{
                margin : 0;
                line-height: 1;
            }
        }

        .author{
            .link-simple{
                color : $tweet-name-color-alt;
                font-size: $tweet-link-size;
            }
        }
        .picture,
        .info{
            display: inline-block;
        }
        .picture{
            margin-right: 10px;
            vertical-align: top;
            border-radius : 3px;
            border : 1px solid $tweet-picture-border;
            height : 32px;
            width : 32px;
        }
        .name{
            color : $tweet-name-color;
            font-size: $tweet-name-size;
        }

        .icon-twitter{
            position : absolute;
            top: 50%;
            right : 0;
            transform : translateY(-50%);
            color : $twitter-icon-color;
        }

        /* Content */
        .content{
            line-height: 1.6;

            a{
                font-weight : bold;
                color : $tweet-link-color;

                @include link-simple();
            }
        }

        /* Bottom */
        .bottom{
            text-align: justify;
            position: absolute;
            bottom : 20px;
            left : 20px;
            right : 20px;

            p{
                margin: 0;
            }
        }
        .intents{
            text-align: left;
            display: inline-block;

            a{
                color : $twitter-intent-color;
                margin-right: 10px;
            }
        }
        .date{
            float : right;
            color : $tweet-date-color;
            display: inline-block;
        }
    }
}