$jagged_ice : #bbdee6;
$scooter : #26c3d2;
$robin : #00b9ca;
$blumine : #1e5d85;
$blumine_alt : #1B5E86;
$hoki : #62819a;
$seagull : #7fbee5;
$seagull_alt : #7ebce3;

$mercury : #e8e8e8;
$mystic : #dae5e9;
$mystic_alt : #dde6ec;
$alto : #e0e0e0;
$gallery : #eeeeee;
$white : #fefefe;

$flamingo : #f06030;