$mq-breakpoints: (
        mobile:   320px,
        tablet:   740px,
        desktop:  980px,
        wide:     1280px,
        ultrawide: 1440px
);

@import "colors";
@import "sizes";

$background-color : $gallery;
$oswald : 'Oswald', Helvetica, Arial, sans-serif;
$high-line-height : 1.7;

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/Oswald-300.woff2') format('woff2'),
    url('../fonts/Oswald-300.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/PT-Sans-regular.woff2') format('woff2'),
    url('../fonts/PT-Sans-regular.woff') format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src:  url('../fonts/PT-Sans-italic.woff2') format('woff2'),
    url('../fonts/PT-Sans-italic.woff') format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src:  url('../fonts/PT-Sans-700.woff2') format('woff2'),
    url('../fonts/PT-Sans-700.woff') format('woff');
}